# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.pdb
*.lib
*.pyd
# stuff
*.exp
*.layout
*.save-failed
*.depend
*.obj
*.obj
*.obj
*.depend
*.depend
*.obj
Python Modules/rf_prot/obj/Release/Python Modules/rf_prot/src/VCrfprot.obj
Python Modules/rf_prot/obj/Release/Utilities/baseObject.obj
*.obj
