VELA INJECTOR VACUUM IMGS CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_VAC_PRESSURE   = P;
PV_COUNT          = 1;
PV_CHTYPE         = DBR_TIME_DOUBLE;
PV_MASK           = DBE_VALUE;

PV_MONITORS_START;          These are the PVs that will be continuously monitored

PV_SUFFIX_STA        = STA;
PV_COUNT      		 = 1;
PV_CHTYPE     		 = DBR_ENUM;
PV_MASK       		 = DBE_VALUE;

PV_VAC_PRESSURE      = P;
PV_COUNT      		 = 1;
PV_CHTYPE     		 = DBR_TIME_DOUBLE;
PV_MASK       		 = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 11;      For sanity checks
NUMBER_OF_ILOCKS  = 0;

#In the compiled code img1 is the first one in this list,
#img2 is the second one in the list etc.

NAME    = IMG01;
PV_ROOT = VM-EBT-INJ-VAC-IMG-01:;

NAME    = IMG02;
PV_ROOT = VM-EBT-INJ-VAC-IMG-02:;

NAME    = IMG03;
PV_ROOT = VM-EBT-INJ-VAC-IMG-03:;

NAME    = IMG04;
PV_ROOT = VM-EBT-INJ-VAC-IMG-04:;

NAME    = IMG05;
PV_ROOT = EBT-INJ-VAC-IMG-05:;

NAME    = IMG06;
PV_ROOT = VM-EBT-INJ-VAC-IMG-06:;

NAME    = IMG07;
PV_ROOT = VM-EBT-INJ-VAC-IMG-07:;

NAME    = IMG08;
PV_ROOT = VM-EBT-INJ-VAC-IMG-08:;

NAME    = IMG09;
PV_ROOT = EBT-INJ-VAC-IMG-09:;

NAME    = IMG10;
PV_ROOT = VM-EBT-INJ-VAC-IMG-10:;

NAME    = IMG11;
PV_ROOT = VM-EBT-INJ-VAC-IMG-11:;

END_OF_DATA;
