VELA INJ MAG DEGAUSS CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

OBJECTS_START;

NUM_DEGAUSS_STEPS = 11;


NUM_DEGAUSS_ELEMENTS = 5; // number of different types of elemnt we can degauss...

there should be a check here that five mags get read in...

BSOL_DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DIP_DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
SOL_DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0;
QUAD_DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
COR_DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;

MAG_SET_MAX_WAIT_TIME = 45; this should be the time taken for sol to get from -250 to + 250 + fudge.

QUAD_DEGAUSS_TOLERANCE = 0.1;
BSOL_DEGAUSS_TOLERANCE = 0.1;
DIP_DEGAUSS_TOLERANCE  = 0.1;
SOL_DEGAUSS_TOLERANCE  = 2;
COR_DEGAUSS_TOLERANCE  = 0.1;

END_OF_DATA;
