VELA/CLARA PHOTO-INJECTOR LASER MIRRORS CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;


CLA-LAS-OPT-PICO-4C-PM-4:V:MREL
CLA-LAS-OPT-PICO-4C-PM-4:V:POS; the position
CLA-LAS-OPT-PICO-4C-PM-4:POSBTN; update positions has to be called 
how to move????

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_PIL_H_MREL = H:MREL; 
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;

PV_SUFFIX_PIL_V_MREL = V:MREL; 
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;

;##when using the virtual machine these are used, April 2018 

;PV_SUFFIX_PIL_H_STEP = :hstep; 
;PV_COUNT     = 1;
;;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;

;PV_SUFFIX_PIL_V_STEP = :vstep; 
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;
;PV_SUFFIX_PIL_H_POS = DDOUBLE8;
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;

;PV_SUFFIX_PIL_V_POS = DDOUBLE9;
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;


##pv_suffix must come first before other parameters to be added to the struct.
PV_MONITORS_START;              These are the PVs that will be continuously monitored

PV_SUFFIX_PIL_V_POS = V:POS;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;

PV_SUFFIX_PIL_H_POS = H:POS;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;


OBJECTS_START;

END_OF_DATA;

NUMBER_OF_OBJECTS = 1; For sanity checks
NUMBER_OF_ILOCKS  = 0; If the number of interlocks changes between objects, then redefine this before the "name" paramater

NAME    = PIL-MIRROR;
PV_ROOT_VM = EBT-INJ-DIA-DUMMY-01:;
PV_ROOT = CLA-LAS-OPT-PICO-4C-PM-4:;
STEP_MAX = 100.1;
LEFT_SENSE = 1.0;   ONLY 1 or -1   !!! FLOATS!!!! 
RIGHT_SENSE = -1.0; ONLY 1 or -1 !!!
UP_SENSE = 1.0;     ONLY 1 or -1
DOWN_SENSE = -1.0;  ONLY 1 or -1

END_OF_DATA;
