CAMERA CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;
PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

##pv_suffix must come first before other paramaters to be added to the struct.

PV_SUFFIX_START = Start;
PV_CHTYPE       = DBR_ENUM;

PV_SUFFIX_STOP = Stop;
PV_CHTYPE      = DBR_ENUM;

PV_SUFFIX_GAIN = GainRaw;
PV_CHTYPE      = DBR_LONG;


PV_SUFFIX_BLACK = BlackLevelRaw;
PV_CHTYPE             = DBR_LONG;

PV_SUFFIX_DATA = ArrayData;
PV_COUNT       = 1447680;
PV_CHTYPE      = DBR_TIME_LONG;
PV_MASK        = DBE_VALUE;


PV_MONITORS_START;  These are the PVs that will be continuously monitored ! ( so NOT camera data )

PV_SUFFIX_GAIN_RBV = GainRaw_RBV;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BLACK_RBV = BlackLevelRaw_RBV;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_LONG;
PV_MASK             = DBE_VALUE;

PV_SUFFIX_CAM_STATE = CameraState;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_ENUM;
PV_MASK             = DBE_VALUE;

OBJECTS_START;

NUMBER_OF_OBJECTS = 14; For sanity checks
NUMBER_OF_ILOCKS  = 0;  If the number of interlocks changes between objects, then redefine this before the "name" paramater

NUMBER_OF_PIXELS_X = 1392;
NUMBER_OF_PIXELS_Y = 1040;

NAME    = CAM01;
PV_ROOT = VM-EBT-INJ-DIA-CAM-01:CAM:;
SCREEN  = VC;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;


NAME    = CAM02;
PV_ROOT = VM-EBT-INJ-DIA-CAM-02:CAM:;
SCREEN  = YAG1;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM03;
PV_ROOT = VM-EBT-INJ-DIA-CAM-03:CAM:;
SCREEN  = YAG2;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM04;
PV_ROOT =VM- EBT-INJ-DIA-CAM-04:CAM:;
SCREEN  = YAG3;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;




NAME    = CAM05;
PV_ROOT = VM-EBT-INJ-DIA-CAM-05:CAM:;
SCREEN  = YAG4;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;




NAME    = CAM06;
PV_ROOT = VM-EBT-INJ-DIA-CAM-06:CAM:;
SCREEN  = YAG5;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;




NAME    = CAM07;
PV_ROOT = VM-EBT-INJ-DIA-CAM-07:CAM:;
SCREEN  = YAG6;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM08;
PV_ROOT = VM-EBT-INJ-DIA-CAM-08:CAM:;
SCREEN  = YAG7;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM09;
PV_ROOT = VM-EBT-INJ-DIA-CAM-09:CAM:;
SCREEN  = ED;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM10;
PV_ROOT = VM-EBT-INJ-DIA-CAM-10:CAM:;
SCREEN  = YAG8;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM11;
PV_ROOT = VM-EBT-INJ-DIA-CAM-11:CAM:;
SCREEN  = YAG9;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;


NAME    = CAM12;
PV_ROOT = VM-EBT-INJ-DIA-CAM-12:CAM:;
SCREEN = BA1Y1;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;


NAME    = CAM13;
PV_ROOT = VM-EBT-INJ-DIA-CAM-13:CAM:;
SCREEN  = BA1Y2;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM14;
PV_ROOT = VM-EBT-INJ-DIA-CAM-14:CAM:;
SCREEN  = BA2Y1;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



END_OF_DATA;
