VELA CLARA PHOTO-INJECTOR PI-LASER  CONFIG FILE v1

this is just a dummy file for the vm to allow contorl of the laser position on teh cathode
hopefully, whne the real machine starts up we can transition to actual epics pvs 

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;
in general whitespaces are deleted, keyword-values that should include whitespaces should be enlcosed in ""
currently there is no way to have a keyword-values that contains a "" 

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START; Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

# for commands that are also monitors you can jsut put them in the monitor list (to ensure they are monitored)
# then handle the command aspect in the c++

PV_SUFFIX_PIL_STABILISATION = DINT8;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_ENUM;
PV_MASK      = DBE_VALUE;

PV_SUFFIX_PIL_INTENSITY = DDOUBLE10;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;

## pv_suffix must come first before other parameters to be added to the struct.
PV_MONITORS_START;  PVs that will be continuously monitored

PV_SUFFIX_PIL_STATUS = DINT5;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_ENUM;
PV_MASK      = DBE_VALUE;



OBJECTS_START;

NUMBER_OF_OBJECTS = 1;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater

NAME    = PIL;
PV_ROOT = EBT-INJ-DIA-DUMMY-01:;

END_OF_DATA;
