VELA PHOTO-INJECTOR LASER SHUTTER CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_MONITORS_START;               These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

##pv_suffix must come first before other paramaters to be added to the struct.


PV_SUFFIX_BA1_MPOS = MABSS;
PV_CHTYPE     = DBR_DOUBLE;
PV_COUNT      = 1;
PV_MASK       = DBE_VALUE;

;These are the PVs that will be continuously monitored

PV_SUFFIX_BA1_RPOS = RPOSS;
PV_CHTYPE    = DBR_DOUBLE
PV_COUNT      = 1;
PV_MASK       = DBE_VALUE;

OBJECTS_START;

NUMBER_OF_OBJECTS = 7;      For sanity checks


# !!!!!!!!!!! READ THIS !!!!!!!!!!!!!!!!!!! 
# !!!!!!!!!!! READ THIS !!!!!!!!!!!!!!!!!!! 
# !!!!!!!!!!! READ THIS !!!!!!!!!!!!!!!!!!! 
# !!!!!!!!!!! READ THIS !!!!!!!!!!!!!!!!!!! 
# there is a general, and often tacit, assumption that "CLEAR_FOR_BEAM" will exist for each stage!!!
#


NAME    = H1;
STAGE_NUMBER = 1;
PV_ROOT = VM-EBT-BA1-MOT-COFF-H-01:;
MAX_POS = 58.0;
MIN_POS = -22.0;
HAS_YAG = TRUE;
DEVICES = CLEAR_FOR_BEAM,YAG_UP,YAG_RETCILE,COLL_D2_5MM,COLL_D2MM,COLL_D1_5MM,COLL_D1MM; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = -22,11,11,49.5,57.5,49.5,57.5; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 2; number of decimal places

NAME    = V1;
STAGE_NUMBER = 2;
PV_ROOT = VM-EBT-BA1-MOT-COFF-V-01:;
MAX_POS = 30.0;
MIN_POS = 0.0;
HAS_YAG = FALSE;
DEVICES = CLEAR_FOR_BEAM,YAG_UP,YAG_RETCILE,COLL_D2_5MM,COLL_D2MM,COLL_D1_5MM,COLL_D1MM; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = 27.5,27.5,0.5,23.0,23.0,15.5,15.5; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 3; number of decimal places

; NOT YET IN THE CONTROL SYSTEM
;NAME    = H2;
; STAGE_NUMBER = 3;
;PV_ROOT = VM-EBT-BA1-MOT-COFF-H-01:;
;MAX_POS = 20.9;
;MIN_POS = -55.0;
;HAS_YAG = FALSE;
;DEVICES = IP_YAG,OTR,GAS_JET,CLEAR_FOR_BEAM; THE ORDER HERE MUST BE THE SAME AS BELOW
;DEVICE_POSITIONS = -35.0,-55.0,20.9,19.00; THE ORDER HERE MUST BE THE SAME AS ABOVE
;PRECISION = 2; number of decimal places

NAME    = H3;
STAGE_NUMBER = 4;
PV_ROOT = VM-EBT-BA1-MOT-COFF-H-03:;
MAX_POS = 40.0;
MIN_POS = -60.0;
HAS_YAG = FALSE;
DEVICES = CLEAR_FOR_BEAM,IP_YAG,DCP,DTH,5x5_YAG_DCP; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = -10.0,-52.5,32.5,-25.0,32.5; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 2; number of decimal places

NAME    = V2;
STAGE_NUMBER = 5;
PV_ROOT = VM-EBT-BA1-MOT-COFF-V-02:;
MAX_POS = 3.0;
MIN_POS = -28.0;
HAS_YAG = TRUE;
YAG_IN_POS = 250.0;
YAG_OUT_POS = 90.00;
DEVICES = CLEAR_FOR_BEAM,IP_YAG,YAG_RETCILE,DCP,DTH,5x5_YAG_DCP; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = -15.0,-26.0,-6,-5,-3.0,1.5; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 3; number of decimal places

NAME    = H4;
STAGE_NUMBER = 6;
PV_ROOT = VM-EBT-BA1-MOT-COFF-H-04:;
MAX_POS = 60.0;
MIN_POS = -5; DO NOT touch this if EO is installed and you aren't DW or TP
HAS_YAG = FALSE;
IN_POS = -20.0;
OUT_POS = 2.00;
DEVICES = CLEAR_FOR_BEAM,VSLIT,HSLIT,EO_CRYSTAL,EO_YAG; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = -5,33.0,55.0,-5.0,-5.0; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 2; number of decimal places


NAME    = V4;
STAGE_NUMBER = 7;
PV_ROOT = VM-EBT-BA1-MOT-COFF-V-04:;
MAX_POS = 30.0;
MIN_POS = 0.0;
HAS_YAG = FALSE;
IN_POS = -20.0;
OUT_POS = 2.00;
DEVICES = CLEAR_FOR_BEAM,VSLIT,HSLIT,EO_CRYSTAL,EO_YAG; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = 4.0,4.0,4.0,7.5,0.0; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 3; number of decimal places


NAME    = V5;
STAGE_NUMBER = 8; 
PV_ROOT = VM-EBT-BA1-MOT-COFF-V-05:;
MAX_POS = 55.0;
MIN_POS = -10.0;
HAS_YAG = FALSE;
IN_POS = -20.0;
OUT_POS = 2.00;
DEVICES = CLEAR_FOR_BEAM,YAG_DOWN,YAG_RETCILE; THE ORDER HERE MUST BE THE SAME AS BELOW
DEVICE_POSITIONS = 55.0,23.0,-3; THE ORDER HERE MUST BE THE SAME AS ABOVE
PRECISION = 2; number of decimal places



END_OF_DATA;
