VELA BPM CONFIG FILE v1

##########Update: Tim Price changed BPM PV prefixes on 18.04.2017################


Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_BPM_SA1  = SA1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SA2  = SA2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SD1  = SD1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SD2  = SD2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_MONITORS_START;          These are the PVs that will be continuously monitored

PV_SUFFIX_BPM_RA1  = RA1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RA2  = RA2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RD1  = RD1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RD2  = RD2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_X    = X;
PV_COUNT           = 2;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_Y    = Y;
PV_COUNT           = 2;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_DATA = DATA:B2V.VALA;
PV_COUNT           = 9;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RDY  = RDY;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_TIME_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_AWAK = AWAK;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_TIME_LONG;
PV_MASK            = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 12;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater


#In the compiled code scop1 is the first one in this list,
#scop2 is the second one in the list etc.

NAME    = S01-BPM01;
PV_ROOT = VM-CLA-S01-DIA-BPM-01:;
XY_TYPE = Y_FIRST;
ATT1CAL = 12;
ATT2CAL = 14;
V1CAL 	= 0.980902137607; 0.970542023703;
V2CAL	= 0.968594885245; 1.02443083599;
QCAL 	= 61.508588; 80.7397180655;
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 0.9377;

NAME    = S02-BPM01;
PV_ROOT = VM-CLA-S02-DIA-BPM-01:;
XY_TYPE = Y_FIRST;
ATT1CAL = 12; 12;
ATT2CAL = 12; 11;
V1CAL 	= 1.04374779034; 0.93660805449180762;
V2CAL	= 0.964411901508; 1.0180522333830595;
QCAL 	= 70.4992194267; 79.354008449572461;
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 3.6228;

NAME    = S02-BPM02;
PV_ROOT = VM-CLA-S02-DIA-BPM-02:;
XY_TYPE = Y_FIRST;
ATT1CAL = 12;
ATT2CAL = 12;
V1CAL 	= 0.993934571359;
V2CAL	= 0.942268246273;
QCAL 	= 60.4977236;
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 6.54; Edited by JKJ as it's completely wrong.;11.624; Length of C2V and SP1 line (5.172m) added on to put QUAD05 after it

NAME    = C2V-BPM01;
PV_ROOT = VM-CLA-C2V-DIA-BPM-01:;
XY_TYPE = Y_FIRST;
ATT1CAL = 12;
ATT2CAL = 12;
V1CAL 	= 1.02027469985;
V2CAL	= 1.01227797531;
QCAL 	= 62.4339042888;
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 6.406;

NAME    = INJ-BPM03;
PV_ROOT = VM-EBT-INJ-DIA-BPM-03:;
XY_TYPE = X_FIRST;
ATT1CAL = 9;
ATT2CAL = 7;
V1CAL 	= 0.966842453464;
V2CAL	= 1.0345358029;
QCAL 	= 59.5629813027;
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 8.462;

NAME    = INJ-BPM04;
PV_ROOT = VM-EBT-INJ-DIA-BPM-04:;
XY_TYPE = X_FIRST;
ATT1CAL = 9;
ATT2CAL = 9;
V1CAL 	= 1.03858449981;
V2CAL	= 0.96669477243;
QCAL 	= 71.015501372795399;77.366322872
MN      = 15;
XN      = 0;
YN      = 0;
POSITION = 10.658;

NAME    = INJ-BPM05;
PV_ROOT = VM-EBT-INJ-DIA-BPM-05:;
XY_TYPE = X_FIRST;
ATT1CAL = 7;7;
ATT2CAL = 7;8;
V1CAL 	= 0.961578471761; 1.00743028149;
V2CAL	= 1.038262254; 1.0436672017;
QCAL 	= 77.2525891292; 61.213142776;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 14.012;

NAME    = INJ-BPM06;
PV_ROOT = VM-EBT-INJ-DIA-BPM-06:;
XY_TYPE = X_FIRST;
ATT1CAL = 4;
ATT2CAL = 6;
V1CAL 	= 1.02152888417;
V2CAL	= 0.991948485896;
QCAL 	= 68;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 17.072;  Added length of SP1+BA2 lines to get things in the right order

NAME    = BA1-BPM01;
PV_ROOT = VM-EBT-BA1-DIA-BPM-01:;
XY_TYPE = X_FIRST;
ATT1CAL = 6;
ATT2CAL = 6;
V1CAL 	= 1.0374968268;
V2CAL	= 0.990664744237;
QCAL 	= 69.5655523111;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 17.072;  Added length of SP1+BA2 lines to get things in the right order

NAME    = BA1-BPM02;
PV_ROOT = VM-EBT-BA1-DIA-BPM-02:;
XY_TYPE = X_FIRST;
ATT1CAL = 8;
ATT2CAL = 8;
V1CAL 	= 1.0374968268;
V2CAL	= 0.990664744237;
QCAL 	= 69.5655523111;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 17.072;  Added length of SP1+BA2 lines to get things in the right order

NAME    = BA1-BPM03;
PV_ROOT = VM-EBT-BA1-DIA-BPM-03:;
XY_TYPE = X_FIRST;
ATT1CAL = 6;
ATT2CAL = 6;
V1CAL 	= 1.0374968268;
V2CAL	= 0.990664744237;
QCAL 	= 69.5655523111;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 17.072;  Added length of SP1+BA2 lines to get things in the right order

NAME    = BA1-BPM04;
PV_ROOT = VM-EBT-BA1-DIA-BPM-04:;
XY_TYPE = X_FIRST;
ATT1CAL = 3;
ATT2CAL = 3;
V1CAL 	= 1.03355549872;
V2CAL	= 1.00111886086;
QCAL 	= 57.0814035742;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 17.072;  Added length of SP1+BA2 lines to get things in the right order

END_OF_DATA;
