CLARA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

BJAS 13/12/16: I'm populating this from PHW's v10 schematic.
Values with ??? after them may be wrong, or need modification.

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_SPOWER = SPOWER; clara stuff that may change if they decide to do a consistent naming scheme
PV_CHTYPE  = DBR_ENUM;
PV_COUNT   = 1;
PV_MASK     = DBE_VALUE;

PV_SUFFIX_SETI = SETI; clara stuff that may change if they decide to do a consistent naming scheme
PV_CHTYPE  = DBR_DOUBLE;
PV_COUNT   = 1;
PV_MASK     = DBE_VALUE;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_RPOWER = RPOWER;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_READI = READI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_GETSETI = GETSETI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_RILK = RILK;
PV_COUNT       = 1;
PV_CHTYPE      = DBR_ENUM;
PV_MASK        = DBE_VALUE;

OBJECTS_START;
;NUMBER_OF_OBJECTS = 66; OLD testing BA1
NUMBER_OF_OBJECTS = 66;????

NUMBER_OF_ILOCKS  = 0;  Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = LRG-BSOL;
POSITION = -0.072;
MANUFACTURER = Danfysik;
PV_ROOT = VM-CLA-LRG1-MAG-BSOL-01:  ;
MAG_TYPE = BSOL;
#Magneticlength and coeffs copied from velaINJMagnet.config#
FIELD_INTEGRAL_COEFFICIENTS = 0.000513431, -1.27695E-07, 1.61655E-10, -0.032733798, -4.29885E-06, 2.28967E-08, 0.001833327, -2.5354E-06, -1.04715E-09, -1.61177E-12, -2.94837E-05, 2.13938E-07,  -0.003957362, 0.246073139, -4.393602393, 0.0;
MAGNETIC_LENGTH = 12.5;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,  -6.0, 4.0,  -4.0,  2.0, -2.0, 1.0, -1.0, 0.0, 0.5, 0.0, -0.5,  0.0;
DEGAUSS_TOLERANCE = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -6.0;
MAG_MAX_I = 6.0;

NAME = LRG-SOL;
POSITION = 0.127;
MANUFACTURER = SEF;
SERIAL_NUMBER = 01;
PV_ROOT = VM-CLA-GUN-MAG-SOL-02:;
MAG_TYPE = SOL;
#Magneticlength and coefs copied from velaINJMagnet.config#
FIELD_INTEGRAL_COEFFICIENTS = 2.17321571, -0.858179277, 0.172127130, -0.0171033399, 6.70371530e-04,  -3.53922E-08, 1.53138E-05, 0.167819191, 0.0;
MAGNETIC_LENGTH = 139.50;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11
DEGAUSS_VALUES = 250.0, -250.0, 150.0, -150.0, 100.0, -100.0,50.0, -50.0, 25.0, -25.0, 0.0;
DEGAUSS_TOLERANCE = 2.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAGNET_BRANCH = LRG-BSOL; This is used to signify that the SOL & BSOL are linked
MAG_MIN_I = -250.0;
MAG_MAX_I = 250.0;

NAME = L01-SOL1;
POSITION = 1.64; estimated from schematic
MANUFACTURER = "Efremov Institute";
SERIAL_NUMBER = 08;
PV_ROOT = VM-CLA-L01-MAG-SOL-01:;
MAG_TYPE = SOL;
;                             coeff_a for Larmor angle .................................................; coeff_b for integrated field
;                                       I,           p*I,        p**2*I,          p**3*I,         p**4*I; I**3, I**2,             I,           1
FIELD_INTEGRAL_COEFFICIENTS = 0.911580969, -0.0374385376, 0.00106926073, -1.64644381e-05, 1.01769629e-07,    0,    0,    0.37651102,  0.12171419;
MAGNETIC_LENGTH = 726.91820512820505;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\SwissFEL Linac Solenoids";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 150.0, -150.0, 100.0, -100.0, 66.0, -66.0, 30.0, -30.0,10.0, -10.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -150.0;
MAG_MAX_I = 150.0;

NAME = L01-SOL2;
POSITION = 2.70; estimated from schematic
MANUFACTURER = "Efremov Institute";
SERIAL_NUMBER = 09;
PV_ROOT = VM-CLA-L01-MAG-SOL-02:;
MAG_TYPE = SOL;
;                             coeff_a for Larmor angle .................................................; coeff_b for integrated field
;                                       I,           p*I,        p**2*I,          p**3*I,         p**4*I; I**3, I**2,             I,           1
FIELD_INTEGRAL_COEFFICIENTS = 0.847688880, -0.0653499119, 0.00243270133, -4.29020066e-05, 2.87019853e-07,    0,    0,    0.37651102,  0.12171419;
MAGNETIC_LENGTH = 726.91820512820505;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\SwissFEL Linac Solenoids";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 150.0, -150.0, 100.0, -100.0, 66.0, -66.0,30.0, -30.0, 10.0, -10.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -150.0;
MAG_MAX_I = 150.;


//quads

NAME = S02-QUAD1;
PV_ROOT = VM-CLA-S02-MAG-QUAD-01:;
MAG_TYPE = QUAD;
POSITION = 3.577500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13248;
FIELD_INTEGRAL_COEFFICIENTS = -2.23133410405682E-10, 4.5196171252132E-08, -3.46208258004659E-06, 1.11195870210961E-04, 2.38129337415767E-02, 9.81229429460256E-03;
MAGNETIC_LENGTH = 128.68478212775;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.2; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0, 15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -58.0
MAG_MAX_I = 58.0;

NAME = S02-QUAD2;
PV_ROOT = VM-CLA-S02-MAG-QUAD-02:;
MAG_TYPE = QUAD;
POSITION = 3.977500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13250;
FIELD_INTEGRAL_COEFFICIENTS = -4.69068497199892E-10, 7.81236692669882E-08, -4.99557108021749E-06, 1.39687166906618E-04, 2.32819099224878E-02, 9.77695097574923E-03;
MAGNETIC_LENGTH = 126.817287248819;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.2; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -58.0;
MAG_MAX_I = 58.0;

NAME = S02-QUAD3;
PV_ROOT = VM-CLA-S02-MAG-QUAD-03:;
MAG_TYPE = QUAD;
POSITION = 5.277500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13251;
FIELD_INTEGRAL_COEFFICIENTS = -4.01132756980213E-10, 7.04774652367448E-08, -4.7303680012511E-06, 1.37571730391246E-04, 2.33327839789932E-02, 9.49568371388574E-03;
MAGNETIC_LENGTH = 127.241994829126;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.2; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -58.0;
MAG_MAX_I = 58.0;

NAME = S02-QUAD4;
PV_ROOT = VM-CLA-S02-MAG-QUAD-04:;
MAG_TYPE = QUAD;
POSITION = 5.677500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13252;
FIELD_INTEGRAL_COEFFICIENTS = -3.12868198002574E-10, 5.87771428279647E-08, -4.18748562338666E-06, 1.27524427731924E-04, 2.34218216296292E-02, 9.38588316008555E-03;
MAGNETIC_LENGTH = 127.421664936758;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.2;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -58.0;
MAG_MAX_I = 58.0;

NAME = S02-QUAD5;
PV_ROOT = VM-CLA-S02-MAG-QUAD-05:;
MAG_TYPE = QUAD;
POSITION = 11.66280268; Length of C2V and SP1 line added on to put QUAD05 after it
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13249;
FIELD_INTEGRAL_COEFFICIENTS = -3.12232013228657E-10, 5.86576256524889E-08, -4.17897080912429E-06, 1.27265120139323E-04, 2.33741958038237E-02, 9.36679794786415E-03;
MAGNETIC_LENGTH = 127.162566301558;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -58.0;
MAG_MAX_I = 58.0;


NAME = C2V-QUAD1;
PV_ROOT = VM-CLA-C2V-MAG-QUAD-01:;
MAG_TYPE = QUAD;
POSITION = 6.660148145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13255;
FIELD_INTEGRAL_COEFFICIENTS = -1.30185900474931E-11, 5.70352698264348E-09, -9.08937880373639E-07, 6.03053164909332E-05, 0.014739040805921, 1.37593271780352E-02;
MAGNETIC_LENGTH = 121.567272525393;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 200.0,  -200.0, 100.0,  -100.0,  50.0, -50.0, 25.0, -25.0, 10.0, -10.0,  0.0;
DEGAUSS_TOLERANCE  = 1.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -200.0;
MAG_MAX_I = 200.0;
MAGNET_BRANCH = DIP01;

NAME = C2V-QUAD2;
PV_ROOT = VM-CLA-C2V-MAG-QUAD-02:;
MAG_TYPE = QUAD;
POSITION = 6.950148145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13254;
FIELD_INTEGRAL_COEFFICIENTS = -1.30779403854705E-11, 5.72293796261772E-09, -9.08645007418186E-07, 5.97762384752619E-05, 1.47596073775721E-02, 1.58516912403471E-02;
MAGNETIC_LENGTH = 121.511900610076;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 200.0,  -200.0, 100.0, -100.0, 50.0, -50.0, 25.0, -25.0, 10.0, -10.0,  0.0;
DEGAUSS_TOLERANCE  = 1.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -200.0;
MAG_MAX_I = 200.0;
MAGNET_BRANCH = DIP01;

NAME = C2V-QUAD3;
PV_ROOT = VM-CLA-C2V-MAG-QUAD-03:;
MAG_TYPE = QUAD;
POSITION = 7.240148145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13253;
FIELD_INTEGRAL_COEFFICIENTS = -1.31651924239548E-11, 5.76805215137824E-09, -9.16843633799561E-07, 6.036266595182E-05, 1.47634437187611E-02, 0.013343693771224;
MAGNETIC_LENGTH = 121.550749828396;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 200.0,  -200.0, 100.0, -100.0, 50.0, -50.0, 25.0, -25.0, 10.0, -10.0,  0.0;
DEGAUSS_TOLERANCE  = 1.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -200.0;
MAG_MAX_I = 200.0;
MAGNET_BRANCH = DIP01;


// hv_corrs

NAME = S01-HCOR1;
PV_ROOT = VM-CLA-S01-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13258;
FIELD_INTEGRAL_COEFFICIENTS = 0.023624156190865, 0.00354362342862975;
MAGNETIC_LENGTH = 131.245312171472;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;


NAME = S01-VCOR1;
PV_ROOT = VM-CLA-S01-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13258;
FIELD_INTEGRAL_COEFFICIENTS = 0.0231571709981465, 0.00347357564972197;
MAGNETIC_LENGTH = 128.650949989703;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";PV_ROOT = VM-CLA-S01-MAG-VCOR-01:;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S01-HCOR2;
PV_ROOT = VM-CLA-S01-MAG-HCOR-02:;
MAG_TYPE = HCOR;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13259;
FIELD_INTEGRAL_COEFFICIENTS = 0.0234042553191489, 0.0;
MAGNETIC_LENGTH = 125;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S01-VCOR2;
PV_ROOT = VM-CLA-S01-MAG-VCOR-02:;
MAG_TYPE = VCOR;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13259;
FIELD_INTEGRAL_COEFFICIENTS = 0.0234042553191489, 0.0;
MAGNETIC_LENGTH = 125;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";PV_ROOT = VM-CLA-S01-MAG-VCOR-02:;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S02-HCOR1;
PV_ROOT = VM-CLA-S02-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 3.448080313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13260;
FIELD_INTEGRAL_COEFFICIENTS = 0.299132052459495, 0.00869167241506522;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S02-VCOR1;
PV_ROOT = VM-CLA-S02-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 3.448080313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13260;
FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S02-HCOR2;
PV_ROOT = VM-CLA-S02-MAG-HCOR-02:;
MAG_TYPE = HCOR;
POSITION = 4.268070313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13262;
FIELD_INTEGRAL_COEFFICIENTS = 0.299132052459495, 0.00869167241506522;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

NAME = S02-VCOR2;
PV_ROOT = VM-CLA-S02-MAG-VCOR-02:;
MAG_TYPE = VCOR;
POSITION = 4.268070313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13262;
FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;

;NAME = S02-HCOR3;
;PV_ROOT = VM-CLA-S02-MAG-HCOR-03:;
;MAG_TYPE = HCOR;
;POSITION = 4.845560313;
;MANUFACTURER = Danfysik;
;SERIAL_NUMBER = 13262;
;FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
;MAGNETIC_LENGTH = 163;
;MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
;RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
;NUM_DEGAUSS_STEPS = 9;
;DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
;DEGAUSS_TOLERANCE  = 0.1;
;MAG_SET_MAX_WAIT_TIME = 45;
;MAG_MIN_I = -10;
;MAG_MAX_I = 10;

;NAME = S02-VCOR3;
;PV_ROOT = VM-CLA-S02-MAG-VCOR-03:;
;MAG_TYPE = VCOR;
;POSITION = 4.845560313;
;MANUFACTURER = Danfysik;
;SERIAL_NUMBER = 13262;
;FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
;MAGNETIC_LENGTH = 163;
;MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
;RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
;NUM_DEGAUSS_STEPS = 9;
;DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
;DEGAUSS_TOLERANCE  = 0.1;
;MAG_SET_MAX_WAIT_TIME = 45;
;MAG_MIN_I = -10;
;MAG_MAX_I = 10;

NAME = C2V-HCOR1;
PV_ROOT = VM-CLA-C2V-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 6.536928145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13263;
FIELD_INTEGRAL_COEFFICIENTS = 0.139019971762932, 0.00336644233663128;
MAGNETIC_LENGTH = 137;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;
MAGNET_BRANCH = DIP01;

NAME = C2V-VCOR1;
PV_ROOT = VM-CLA-C2V-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 6.536928145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13263;
FIELD_INTEGRAL_COEFFICIENTS = 0.142064204721245, 0.00344016005203196;
MAGNETIC_LENGTH = 140;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 10.0, -10.0, 7.0, -7.0, 5.0, -5.0, 2.5, -2.5, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10.0;
MAG_MAX_I = 10.0;
MAGNET_BRANCH = DIP01;


 ____ ____ ____ _____ __   ____ ___
(  _ (_  _(  _ (  _  (  ) ( ___/ __)
 )(_) _)(_ )___/)(_)( )(__ )__)\__ \
(____(____(__) (_____(____(____(___/

NAME = S02-DIP01;
POSITION = 6.226873613;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13256;
FIELD_INTEGRAL_COEFFICIENTS = -1.10355E-09, 3.40411E-07, -4.20048E-05, 2.168E-03, 1.357714, 0.696315
MAGNETIC_LENGTH = 399.216; Defined along the nominal 45° arc
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Dipoles\Type 1";
PV_ROOT = VM-CLA-C2V-MAG-DIP-01:;
MAG_TYPE = DIP;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.05; ???
NUM_DEGAUSS_STEPS = 11;
;DEGAUSS_VALUES  = 124.0, -124.0, 65.0, -65.0, 30.0, -30.0, 15.0, -15.0, 7.0, -7.0, 0.0;
DEGAUSS_VALUES  = 124.0, -124.0,65.0, -65.0, 30.0, -30.0, 15.0, -15.0, 7.0, -7.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -130;
MAG_MAX_I = 130;


;old value NUMBER_OF_ILOCKS  = 6; djs 23/6/2017
NUMBER_OF_ILOCKS  = 0;

 _   _ ___ _____ ____
( )_( / __(  _  (  _ \
 ) _ ( (__ )(_)( )   /
(_) (_\___(_____(_)\_)

NUMBER_OF_ILOCKS  = 8;

NAME = INJ-HCOR05;
POSITION = 4.648;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.103007246376812, 0.0;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS = 0.102617753623188, 0.0;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.015;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS = 0.103037439613527, 0.0;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS = 0.107276570048309, 0.0;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS = 0.108559782608696, 0.0;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR10;
POSITION = 16.732;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0009;
MAGNETIC_LENGTH = 182.966531440162;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
FIELD_INTEGRAL_COEFFICIENTS = 0.109960366, 0.0;
MAG_TYPE = HCOR;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-HCOR11;
POSITION = 18.958;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0007;
FIELD_INTEGRAL_COEFFICIENTS = 0.109396135, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-HCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;


NAME = BA1-HCOR1;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-HCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-HCOR2;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-HCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-HCOR3;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-HCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

 _  _ ___ _____ ____
( \/ / __(  _  (  _ \
 \  ( (__ )(_)( )   /
  \/ \___(_____(_)\_)

NAME = INJ-VCOR05;
POSITION = 4.648;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.103007246376812, 0.0;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   0.0, -6.0, 0.0,   4.0, 0.0,   -4.0, 0.0,   3.0, 0.0,  -3.0, 0.0,  2.0,  0.0, -2.0, 0.0,  1.0, 0.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS =  0.102617753623188, 0.0;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS =  0.103037439613527, 0.0;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS =  0.107276570048309, 0.0;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS =  0.108559782608696, 0.0;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR10;
POSITION = 16.732;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0009;
FIELD_INTEGRAL_COEFFICIENTS =  0.108940217, 0.0;
MAGNETIC_LENGTH = 182.9665314;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-VCOR11;
POSITION = 18.958;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0007;
FIELD_INTEGRAL_COEFFICIENTS =  0.109396135, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = VM-EBT-INJ-MAG-VCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0, 4.0, -4.0, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.0;
MAG_MIN_I = -6.0;
MAG_SET_MAX_WAIT_TIME = 45;


NAME = BA1-VCOR1;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-VCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-VCOR2;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-VCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-VCOR3;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-VCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-VCOR4;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 0000-00000-0000;
FIELD_INTEGRAL_COEFFICIENTS =  0.0, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = ¯\_(ツ)_/¯;
PV_ROOT = VM-EBT-BA1-MAG-VCOR-04:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 7.0,   -7.0, 4.5, -4.5, 3.0, -3.0, 2.0,  -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;

 _____ __  __   __   ____  ___
(  _  (  )(  ) /__\ (  _ \/ __)
 )(_)( )(__)( /(__)\ )(_) \__ \
(___/\(______(__)(__(____/(___/

NUMBER_OF_ILOCKS  = 0;

NAME = INJ-QUAD05;
POSITION = 4.845;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M05;
FIELD_INTEGRAL_COEFFICIENTS = -2.28625597225573E-05, 0.000310696398249702, 0.103519837397042, 0.00104459623600727;
MAGNETIC_LENGTH = 125.223958037202;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-05:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD06;
POSITION = 5.099;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M02;
FIELD_INTEGRAL_COEFFICIENTS = -3.77887463072432E-05, 0.000518011967842953, 0.102826208113528, 0.00197957472695541;
MAGNETIC_LENGTH = 125.033079276906;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-06:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

/// Back to unganged

NAME = INJ-QUAD07;
POSITION = 7.380;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M03;
FIELD_INTEGRAL_COEFFICIENTS = -1.51802828278694E-05, 0.000208236492203741, 0.102224127676636, 0.00205656183129602;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-07:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD08;
POSITION = 7.577;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M01;
FIELD_INTEGRAL_COEFFICIENTS = -3.06357099595939E-05, 0.000442533546326552, 0.101577009522434, 0.00146589509380893;
MAGNETIC_LENGTH = 125.27558356645;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-08:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD09;
POSITION = 9.972;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM06;
FIELD_INTEGRAL_COEFFICIENTS = 0.111939163037871, -0.00132252769474545;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-09:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD10;
POSITION = 12.676;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM05;
FIELD_INTEGRAL_COEFFICIENTS = 0.111966157109812, -0.00170732356716569;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-10:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD11;
POSITION = 14.901;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM02;
FIELD_INTEGRAL_COEFFICIENTS = 0.112072763436341, -0.00182025848896622;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-11:;
MAG_TYPE = QUAD;
NUM_ILOCKS = 6;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD12;
POSITION = 17.042;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM04;
FIELD_INTEGRAL_COEFFICIENTS = 1.58996386665694, 6.76912235527686E-05;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-12:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD13;
POSITION = 19.155;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M06;
FIELD_INTEGRAL_COEFFICIENTS = -2.87186700627592E-05, 0.000391071197622624, 0.103186587329201, 0.00109631338038853;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-13:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME =INJ-QUAD14;
POSITION = 19.634;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM05;
FIELD_INTEGRAL_COEFFICIENTS = 1.59235070995081, -0.022877181714572;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-14:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = INJ-QUAD15;
POSITION = 23.493;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM08;
FIELD_INTEGRAL_COEFFICIENTS = 0.111954754, -0.001381788;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-QUAD-15:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0,  0.0,1.0, 0.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;



NAME = BA1-QUAD01;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM04;
FIELD_INTEGRAL_COEFFICIENTS = 0.111983, -0.00155797; Have averaged other EMDQ magnets to guess the FIC!
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-01:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.995, -6.995, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.995;
MAG_MIN_I = -6.995;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-QUAD02;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM03;
FIELD_INTEGRAL_COEFFICIENTS = 0.111983, -0.00155797; Have averaged other EMIQ magnets to guess the FIC!
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-02:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 5.995, -5.995, 4.50, -4.50, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.99;
MAG_MIN_I = -5.995;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-QUAD03;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM01;
FIELD_INTEGRAL_COEFFICIENTS = 0.111983, -0.00155797; Have averaged other EMDQ magnets to guess the FIC!
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-03:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.995, -6.995, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.997;
MAG_MIN_I = -6.997;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-QUAD04;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = E9999999;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.0, 0.0, 0.0;
MAGNETIC_LENGTH = -1.0;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-04:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.995, -6.995, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.993;
MAG_MIN_I = -6.993;
MAG_SET_MAX_WAIT_TIME = 45;


NAME = BA1-QUAD05;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = E9999999;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.0, 0.0, 0.0;
MAGNETIC_LENGTH = -1.0;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-05:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.995, -6.995, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 6.995;
MAG_MIN_I = -6.995;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-QUAD06;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = E9999999;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.0, 0.0, 0.0;
MAGNETIC_LENGTH = -1.0;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-06:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 5.995, -5.995, 4.50, -4.50, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.992;
MAG_MIN_I = -5.992;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-QUAD07;
POSITION = 0.00;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = E9999999;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.0, 0.0, 0.0;
MAGNETIC_LENGTH = -1.0;
MEASUREMENT_DATA_LOCATION = "NOT SET";
PV_ROOT = VM-EBT-BA1-MAG-QUAD-06:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 5.995, -5.995, 4.50, -4.50, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.992;
MAG_MIN_I = -5.992;
MAG_SET_MAX_WAIT_TIME = 45;



 ____ ____ ____ _____ __   ____ ___
(  _ (_  _(  _ (  _  (  ) ( ___/ __)
 )(_) _)(_ )___/)(_)( )(__ )__)\__ \
(____(____(__) (_____(____(____(___/

NAME = INJ-DIP01;
POSITION = 7.972725978;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13257;
FIELD_INTEGRAL_COEFFICIENTS = -9.5201E-07, 0.000151557, 0.894506059, 0.126202232;
MAGNETIC_LENGTH = 397.752;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Dipoles\Type 2";
PV_ROOT = VM-CLA-C2V-MAG-DIP-02:;
MAG_TYPE = DIP;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.001; ???
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 190.0, -190.0, 80.0, -80.0, 30.0, -30.0, 15.0, -15.0, 7.0, -7.0, 0.0;
DEGAUSS_TOLERANCE  = 0.5;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -190;
MAG_MAX_I = 190;
MAGNET_BRANCH = DIP01;

/// These are  ganged // (were?? not sure till we can switch them back on again) djs 23/6/2017

;old value NUMBER_OF_ILOCKS  = 8; djs 23/6/2017
NUMBER_OF_ILOCKS  = 0;

NAME = INJ-DIP02;
POSITION = 16.169;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM01;
FIELD_INTEGRAL_COEFFICIENTS = -0.00038343, 0.002868828, 8.075456266, -0.299379231;
MAGNETIC_LENGTH = 413.824;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-DIP-02:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

;old value NUMBER_OF_ILOCKS  = 6; djs 23/6/2017
NUMBER_OF_ILOCKS  = 0;

NAME = INJ-DIP03;
POSITION = 17.859;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM03;
FIELD_INTEGRAL_COEFFICIENTS = -0.002065291, 0.037340159, 7.863201936, 0.211661623;
MAGNETIC_LENGTH = 414.409;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = VM-EBT-INJ-MAG-DIP-03:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = BA1-DIP01;
POSITION = 0.0;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = E99999999;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.0, 1.6153, -1.0472;
MAGNETIC_LENGTH = 1;
MEASUREMENT_DATA_LOCATION = "????????";
PV_ROOT = VM-EBT-BA1-MAG-DIP-01:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 9.8, -9.8, 5.0, -5.0, 3.0, -3.0, 2.0, -2.0, 1.0, -1.0, 0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 100.0;
MAG_MIN_I = 50.0;
MAG_SET_MAX_WAIT_TIME = 45;

END_OF_DATA;



