CAMERA CONFIG FILE v1

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;
VERSION = 1;

PV_IA_COMMANDS_START;
##These are Pvs that are needed to send commands,
##i.e. switch things on / off, They are not monitored.
##pv_suffix must come first before other paramaters to be added to the struct.
##########################IMAGE ANALYSIS COMMANDS##############################
PV_IA_SUFFIX_START_ACQUIRE = CAM:Acquire;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_STOP_ACQUIRE = CAM:Acquire;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_START_IA   = ANA:EnableCallbacks;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_SET_B      = ANA:NewBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_USE_B      = ANA:UseBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_USE_NPOINT = ANA:UseNPoint;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_CENTER_X 	= ANA:CenterX;#pixel offset centre 
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_CENTER_Y 	= ANA:CenterY;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_X_RAD = ANA:MaskXRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_Y_RAD = ANA:MaskYRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_X = ANA:MaskXCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_Y = ANA:MaskYCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_PIX_MM 	= ANA:PixMM;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_STEP_SIZE 	= ANA:StepSize;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
##################################DAQ COMMANDS##################################
PV_DAQ_COMMANDS_START;

PV_DAQ_SUFFIX_START_ACQUIRE= CAM:Start;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_STOP_ACQUIRE   = CAM:Stop;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_PATH 	= HDF:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_NAME 	= HDF:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_CAPTURE 		= HDF:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_NUMBER 	= HDF:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE 		= HDF:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_NUM_CAPTURE 	= HDF:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_PATH_J 	= MAGICK:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_NAME_J 	= MAGICK:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_CAPTURE_J 		= MAGICK:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FILE_NUMBER_J 	= MAGICK:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_J 		= MAGICK:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;


PV_DAQ_SUFFIX_NUM_CAPTURE_J = MAGICK:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

################################################################################
################################################################################

  These are the PVs that will be continuously monitored !

############################IMAGE ANALYSIS MONITORS##############################
PV_IA_MONITORS_START;
PV_IA_SUFFIX_ACQUIRE_RBV= CAM:Acquire;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_IA_SUFFIX_START_IA_RBV= ANA:EnableCallbacks;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_IA_SUFFIX_USE_B_RBV	= ANA:UseBkgrnd;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_IA_SUFFIX_USE_NPOINT_RBV	= ANA:UseNPoint;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_IA_SUFFIX_CAM_STATE 	= CAM:ReadStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT      			= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_X			= ANA:X_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_Y			= ANA:Y_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_SIGMA_X	= ANA:SigmaX_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_SIGMA_Y	= ANA:SigmaY_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_COV_XY			= ANA:CovXY_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_X_PIX					= ANA:XPix_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_Y_PIX					= ANA:YPix_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_SIGMA_X_PIX			= ANA:SigmaXPix_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_SIGMA_Y_PIX			= ANA:SigmaYPix_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_COV_XY_PIX			= ANA:CovXYPix_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_AV_PIX_INTENSITY = ANA:AvgIntensity_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_PIX_INTENSITY = ANA:AvgIntensity_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_X_RAD_RBV = ANA:MaskXRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_Y_RAD_RBV = ANA:MaskYRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_X_RBV = ANA:MaskXCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_MASK_Y_RBV = ANA:MaskYCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_CENTER_X_RBV 	= ANA:CenterX_RBV;#pixel offset centre 
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_IA_SUFFIX_CENTER_Y_RBV 	= ANA:CenterY_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

###################################HDF5 MONITORS#################################
PV_DAQ_MONITORS_START;

PV_DAQ_SUFFIX_ACQUIRE_RBV= CAM:Acquire;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_DAQ_SUFFIX_CAPTURE_RBV	= HDF:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_NUM_CAPTURED_RBV	= HDF:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_NUM_CAPTURE_RBV = HDF:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_CHECK 	= HDF:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_RBV 	= HDF:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_MESSAGE = HDF:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

#################################JPEG MONITORS###################################
PV_DAQ_SUFFIX_CAPTURE_RBV_J	= MAGICK:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_NUM_CAPTURED_J	= MAGICK:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_NUM_CAPTURE_RBV_J = MAGICK:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_CHECK_J 	= MAGICK:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_RBV_J 	= MAGICK:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_WRITE_MESSAGE_J = MAGICK:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;

#################################DAQ MONITORS###################################
PV_DAQ_SUFFIX_ACQUIRE_RBV	= CAM:Acquire_RBV;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;

PV_DAQ_SUFFIX_CAM_STATE 	= CAM:ReadStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT      			= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_EXPOSURE_RBV 	= CAM:AcquireTime_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_ACQ_PERIOD_RBV = CAM:AcquirePeriod_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_FREQ_RBV 		= CAM:ArrayRate_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_DAQ_SUFFIX_SENSOR_TEMP_RBV = CAM:Temperature_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
################################################################################
################################################################################


PV_SUFFIX_DATA = CAM2:ArrayData;
PV_COUNT       = 1382400;
PV_CHTYPE      = DBR_TIME_LONG;
PV_MASK        = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 6; For sanity checks
NUMBER_OF_ILOCKS  = 0;


NAME					= VC;
PV_ROOT					= CLA-VCA-DIA-CAM-01:;
SCREEN_NAME				= YAG01;
IP_ADDRESS_STREAM		= http://192.168.83.31:8080/MJPG1.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO			= 0.0052;
X_MASK					= 1280;
Y_MASK					= 1080;
X_MASK_RAD				= 1240;
Y_MASK_RAD				= 1040;
X_CENTER				= 0;
Y_CENTER				= 0;
AD_NUM_PIX_X = 1080;
AD_NUM_PIX_Y = 1040;
AD_X_PIX_2_MM = 1.0;
AD_Y_PIX_2_MM = 1.0;


NAME					= S01-CAM-01;
PV_ROOT				= CLA-S01-DIA-CAM-01:;
SCREEN_NAME			= S01-SCR-01;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG1.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO		= 0.0134;
X_MASK				= 1280;
Y_MASK				= 1080;
X_MASK_RAD			= 1185;
Y_MASK_RAD			= 1073;
X_CENTER				= 0;
Y_CENTER				= 0;

NAME					= S02-CAM-01;
PV_ROOT				= CLA-S02-DIA-CAM-01:;
SCREEN_NAME			= S02-SCR-01;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG2.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO		= 0.0207;
X_MASK				= 1209;
Y_MASK				= 1068;
X_MASK_RAD			= 700;
Y_MASK_RAD			= 717;
X_CENTER				= 0;
Y_CENTER				= 0;

NAME					= S02-CAM-02;
PV_ROOT				= CLA-S02-DIA-CAM-02:;
SCREEN_NAME			= S02-SCR-02;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG3.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO		= 0.0122;
X_MASK				= 1280;
Y_MASK				= 1080;
X_MASK_RAD			= 1240;
Y_MASK_RAD			= 1040;
X_CENTER				= 0;
Y_CENTER				= 0;

NAME					= S02-CAM-03;
PV_ROOT				= CLA-S02-DIA-CAM-03:;
SCREEN_NAME			= S02-SCR-03;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG4.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO		= 0.0181;
X_MASK				= 872;
Y_MASK				= 1069;
X_MASK_RAD			= 818;
Y_MASK_RAD			= 837;
X_CENTER				= 0;
Y_CENTER				= 0;

NAME					= C2V-CAM-01;
PV_ROOT				= CLA-C2V-DIA-CAM-01:;
SCREEN_NAME			= C2V-SCR-01;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG5.mjpg;
MAX_SHOTS_NUMBER		= 600;
PIX_2_MM_RATIO		= 0.0179;
X_MASK				= 1146;
Y_MASK				= 1028;
X_MASK_RAD			= 835;
Y_MASK_RAD			= 822;
X_CENTER				= 0;
Y_CENTER				= 0; 

END_OF_DATA;
