CLARA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

BJAS 13/12/16: I'm populating this from PHW's v10 schematic.
Values with ??? after them may be wrong, or need modification.

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are PVs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_ON = On;
PV_CHTYPE    = DBR_ENUM;

PV_SUFFIX_OFF = Off;
PV_CHTYPE     = DBR_ENUM;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_STA = Sta;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_SI    = SI;    This is also a command, but that's ok
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

PV_SUFFIX_RI    = RI;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 8;

NUMBER_OF_ILOCKS  = 0; ??? Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = BSOL;
POSITION = -0.072; longitudinal position along the lattice (in metres) - used to define magnet order
MANUFACTURER = Danfysik;
PV_ROOT = CLA-GUN-MAG-SOL-01:;
PV_PSU_ROOT = CLA-GUN-MAG-SOL-01:; ???
MAG_TYPE = BSOL;
MAG_REV_TYPE = BIPOLAR; ???
RI_TOLERANCE = 0.01; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0; ???
DEGAUSS_TOLERANCE = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

NUMBER_OF_ILOCKS  = 6; ???

NAME = SOL;
POSITION = 0.127;
PV_ROOT = CLA-GUN-MAG-SOL-02:;
MAG_TYPE = SOL;
MAG_REV_TYPE = NR; ???
RI_TOLERANCE = 0.1; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0; ???
DEGAUSS_TOLERANCE  = 2; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

NAME = LIN01SOL01; ???
POSITION = 0.281;
PV_ROOT = CLA-L01-MAG-SOL-01:;
MAG_TYPE = SOL;
MAG_REV_TYPE = NR; ???
RI_TOLERANCE = 0.1; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0; ???
DEGAUSS_TOLERANCE  = 2; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

NAME = LIN01SOL02; ???
POSITION = 0.587;
PV_ROOT = CLA-L01-MAG-SOL-02:;
MAG_TYPE = SOL;
MAG_REV_TYPE = NR; ???
RI_TOLERANCE = 0.1; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0; ???
DEGAUSS_TOLERANCE  = 2; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

 _   _ ___ _____ ____
( )_( / __(  _  (  _ \
 ) _ ( (__ )(_)( )   /
(_) (_\___(_____(_)\_)

NUMBER_OF_ILOCKS  = 8; ???

NAME = HCOR01;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 0; ???
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\CLARA\Magnets\Front end\Measurements\Correctors;
PV_ROOT = CLA-S01-MAG-HCOR-01:;
PV_PSU_ROOT = CLA-S01-MAG-HVCOR-01:; ???
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

NAME = HCOR02;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 0; ???
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\CLARA\Magnets\Front end\Measurements\Correctors;
PV_ROOT = CLA-S01-MAG-HCOR-02:;
PV_PSU_ROOT = CLA-S01-MAG-HVCOR-02:; ???
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

 _  _ ___ _____ ____
( \/ / __(  _  (  _ \
 \  ( (__ )(_)( )   /
  \/ \___(_____(_)\_)

NAME = VCOR01;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 0; ???
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\CLARA\Magnets\Front end\Measurements\Correctors;
PV_ROOT = CLA-S01-MAG-VCOR-01:;
PV_PSU_ROOT = CLA-S01-MAG-HVCOR-01:; ???
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

NAME = VCOR02;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 0; ???
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\CLARA\Magnets\Front end\Measurements\Correctors;
PV_ROOT = CLA-S01-MAG-VCOR-02:;
PV_PSU_ROOT = CLA-S01-MAG-HVCOR-02:; ???
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???

END_OF_DATA;
