CLARA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

BJAS 13/12/16: I'm populating this from PHW's v10 schematic.
Values with ??? after them may be wrong, or need modification.

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_SPOWER = SPOWER; clara stuff that may change if they decide to do a consistent naming scheme 
PV_CHTYPE  = DBR_ENUM;
PV_COUNT   = 1;
PV_MASK     = DBE_VALUE;

PV_SUFFIX_SETI = SETI; clara stuff that may change if they decide to do a consistent naming scheme 
PV_CHTYPE  = DBR_DOUBLE;
PV_COUNT   = 1;
PV_MASK     = DBE_VALUE;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_RPOWER = RPOWER;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_READI = READI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_GETSETI = GETSETI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_RILK = RILK;
PV_COUNT       = 1;
PV_CHTYPE      = DBR_ENUM;
PV_MASK        = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 17;

NUMBER_OF_ILOCKS  = 0;  Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = LRG-BSOL;
POSITION = -0.072;
MANUFACTURER = Danfysik;
; OLD NAME PV_ROOT = CLA-LRG1-MAG-BSOL-01:;
PV_ROOT = CLA-LRG1-MAG-SOL-01:;
MAG_TYPE = BSOL;
#Magneticlength and coeffs copied from velaINJMagnet.config#
FIELD_INTEGRAL_COEFFICIENTS = 0.000513431, -1.27695E-07, 1.61655E-10, -0.032733798, -4.29885E-06, 2.28967E-08, 0.001833327, -2.5354E-06, -1.04715E-09, -1.61177E-12, -2.94837E-05, 2.13938E-07,  -0.003957362, 0.246073139, -4.393602393, 0.0;
MAGNETIC_LENGTH = 12.5;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE = 2;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = LRG-SOL;
POSITION = 0.127;
MANUFACTURER = SEF;
SERIAL_NUMBER = 01;
PV_ROOT = CLA-GUN-MAG-SOL-02:;
MAG_TYPE = SOL;
#Magneticlength and coefs copied from velaINJMagnet.config#
FIELD_INTEGRAL_COEFFICIENTS = 2.17321571, -0.858179277, 0.172127130, -0.0171033399, 6.70371530e-04,  -3.53922E-08, 1.53138E-05, 0.167819191, 0.0;
MAGNETIC_LENGTH = 139.50;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 330, -330, 250, -250, 175, -175, 100, -100, 25, -25; ???
DEGAUSS_TOLERANCE = 2;
MAG_SET_MAX_WAIT_TIME = 45;
MAGNET_BRANCH = LRG-BSOL; This is used to signify that the SOL & BSOL are linked

NAME = L01-SOL1;
POSITION = 1.64; estimated from schematic
MANUFACTURER = "Efremov Institute";
SERIAL_NUMBER = 08;
PV_ROOT = CLA-L01-MAG-SOL-01:;
MAG_TYPE = SOL;
;                             coeff_a for Larmor angle .................................................; coeff_b for integrated field
;                                       I,           p*I,        p**2*I,          p**3*I,         p**4*I; I**3, I**2,             I,           1
FIELD_INTEGRAL_COEFFICIENTS = 0.911580969, -0.0374385376, 0.00106926073, -1.64644381e-05, 1.01769629e-07,    0,    0,    0.37651102,  0.12171419;
MAGNETIC_LENGTH = 726.91820512820505;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\SwissFEL Linac Solenoids";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 150, -150, 100, -100, 50, -50, 20, -20, 10, -10; ???
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -200;
MAG_MAX_I = 200;

NAME = L01-SOL2;
POSITION = 2.70; estimated from schematic
MANUFACTURER = "Efremov Institute";
SERIAL_NUMBER = 09;
PV_ROOT = CLA-L01-MAG-SOL-02:;
MAG_TYPE = SOL;
;                             coeff_a for Larmor angle .................................................; coeff_b for integrated field
;                                       I,           p*I,        p**2*I,          p**3*I,         p**4*I; I**3, I**2,             I,           1
FIELD_INTEGRAL_COEFFICIENTS = 0.847688880, -0.0653499119, 0.00243270133, -4.29020066e-05, 2.87019853e-07,    0,    0,    0.37651102,  0.12171419;
MAGNETIC_LENGTH = 726.91820512820505;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\SwissFEL Linac Solenoids";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 150, -150, 100, -100, 50, -50, 20, -20, 10, -10; ???
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -200;
MAG_MAX_I = 200;


//quads

NAME = S02-QUAD1;
PV_ROOT = CLA-S02-MAG-QUAD-01:;
MAG_TYPE = QUAD;
POSITION = 3.577500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13248;
FIELD_INTEGRAL_COEFFICIENTS = -2.23133410405682E-10, 4.5196171252132E-08, -3.46208258004659E-06, 1.11195870210961E-04, 2.38129337415767E-02, 9.81229429460256E-03;
MAGNETIC_LENGTH = 128.68478212775;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -54;
MAG_MAX_I = 54;

NAME = S02-QUAD2;
PV_ROOT = CLA-S02-MAG-QUAD-02:;
MAG_TYPE = QUAD;
POSITION = 3.977500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13250;
FIELD_INTEGRAL_COEFFICIENTS = -4.69068497199892E-10, 7.81236692669882E-08, -4.99557108021749E-06, 1.39687166906618E-04, 2.32819099224878E-02, 9.77695097574923E-03;
MAGNETIC_LENGTH = 126.817287248819;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -54;
MAG_MAX_I = 54;

NAME = S02-QUAD3;
PV_ROOT = CLA-S02-MAG-QUAD-03:;
MAG_TYPE = QUAD;
POSITION = 5.277500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13251;
FIELD_INTEGRAL_COEFFICIENTS = -4.01132756980213E-10, 7.04774652367448E-08, -4.7303680012511E-06, 1.37571730391246E-04, 2.33327839789932E-02, 9.49568371388574E-03;
MAGNETIC_LENGTH = 127.241994829126;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -54;
MAG_MAX_I = 54;

NAME = S02-QUAD4;
PV_ROOT = CLA-S02-MAG-QUAD-04:;
MAG_TYPE = QUAD;
POSITION = 5.677500313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13252;
FIELD_INTEGRAL_COEFFICIENTS = -3.12868198002574E-10, 5.87771428279647E-08, -4.18748562338666E-06, 1.27524427731924E-04, 2.34218216296292E-02, 9.38588316008555E-03;
MAGNETIC_LENGTH = 127.421664936758;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Quadrupoles";
RI_TOLERANCE = 0.1; 
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 58.0,  -58.0, 30.0, -30.0,  15.0, -15.0, 7.0, -7.0, 3.0, -3.0, 0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -54;
MAG_MAX_I = 54;







// hv_corrs

NAME = S01-HCOR1;
PV_ROOT = CLA-S01-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13258;
FIELD_INTEGRAL_COEFFICIENTS = 0.023624156190865, 0.00354362342862975;
MAGNETIC_LENGTH = 131.245312171472;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -5;
MAG_MAX_I = 5;

NAME = S01-VCOR1;
PV_ROOT = CLA-S01-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 0.35482; From here on in the positions are taken from PHW's layout CSV (CLA-EBT_V10_layout.csv)
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13258;
FIELD_INTEGRAL_COEFFICIENTS = 0.0231571709981465, 0.00347357564972197;
MAGNETIC_LENGTH = 128.650949989703;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";PV_ROOT = CLA-S01-MAG-VCOR-01:;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -5;
MAG_MAX_I = 5;

NAME = S01-HCOR2;
PV_ROOT = CLA-S01-MAG-HCOR-02:;
MAG_TYPE = HCOR;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13259;
FIELD_INTEGRAL_COEFFICIENTS = 0.0234042553191489, 0.0;
MAGNETIC_LENGTH = 125;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -5;
MAG_MAX_I = 5;

NAME = S01-VCOR2;
PV_ROOT = CLA-S01-MAG-VCOR-02:;
MAG_TYPE = VCOR;
POSITION = 0.9377;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13259;
FIELD_INTEGRAL_COEFFICIENTS = 0.0234042553191489, 0.0;
MAGNETIC_LENGTH = 125;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";PV_ROOT = CLA-S01-MAG-VCOR-02:;
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -5;
MAG_MAX_I = 5;

NAME = S02-HCOR1;
PV_ROOT = CLA-S02-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 3.448080313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13260;
FIELD_INTEGRAL_COEFFICIENTS = 0.299132052459495, 0.00869167241506522;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;

NAME = S02-VCOR1;
PV_ROOT = CLA-S02-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 3.448080313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13260;
FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;

NAME = S02-HCOR2;
PV_ROOT = CLA-S02-MAG-HCOR-02:;
MAG_TYPE = HCOR;
POSITION = 4.268070313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13262;
FIELD_INTEGRAL_COEFFICIENTS = 0.299132052459495, 0.00869167241506522;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;

NAME = S02-VCOR2;
PV_ROOT = CLA-S02-MAG-VCOR-02:;
MAG_TYPE = VCOR;
POSITION = 4.268070313;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13262;
FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
MAGNETIC_LENGTH = 163;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;

;NAME = S02-HCOR3;
;PV_ROOT = CLA-S02-MAG-HCOR-03:;
;MAG_TYPE = HCOR;
;POSITION = 4.845560313;
;MANUFACTURER = Danfysik;
;SERIAL_NUMBER = 13262;
;FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
;MAGNETIC_LENGTH = 163;
;MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front ;end\Measurements\Correctors";
;RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
;NUM_DEGAUSS_STEPS = 9;
;DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
;MAG_SET_MAX_WAIT_TIME = 45;
;MAG_MIN_I = -10;
;MAG_MAX_I = 10;

;NAME = S02-VCOR3;
;PV_ROOT = CLA-S02-MAG-VCOR-03:;
;MAG_TYPE = VCOR;
;POSITION = 4.845560313;
;MANUFACTURER = Danfysik;
;SERIAL_NUMBER = 13262;
;FIELD_INTEGRAL_COEFFICIENTS = 0.298156471708927, -0.0431940604081946;
;MAGNETIC_LENGTH = 163;
;MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front ;end\Measurements\Correctors";
;RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
;NUM_DEGAUSS_STEPS = 9;
;DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
;MAG_SET_MAX_WAIT_TIME = 45;
;MAG_MIN_I = -10;
;MAG_MAX_I = 10;

NAME = C2V-HCOR1;
PV_ROOT = CLA-C2V-MAG-HCOR-01:;
MAG_TYPE = HCOR;
POSITION = 6.536928145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13263;
FIELD_INTEGRAL_COEFFICIENTS = 0.139019971762932, 0.00336644233663128;
MAGNETIC_LENGTH = 137;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;
MAGNET_BRANCH = DIP01;

NAME = C2V-VCOR1;
PV_ROOT = CLA-C2V-MAG-VCOR-01:;
MAG_TYPE = VCOR;
POSITION = 6.536928145;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13263;
FIELD_INTEGRAL_COEFFICIENTS = 0.142064204721245, 0.00344016005203196;
MAGNETIC_LENGTH = 140;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Correctors";
RI_TOLERANCE = 0.1; these magnets seem to have really jumpy readbacks and power supplies 
NUM_DEGAUSS_STEPS = 9;
DEGAUSS_VALUES = 5.0,   -5.0,  4.0,   -4.0,   2.50,  -2.50,  1.0,  -1.0,  0.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAG_MIN_I = -10;
MAG_MAX_I = 10;
MAGNET_BRANCH = DIP01;


 ____ ____ ____ _____ __   ____ ___
(  _ (_  _(  _ (  _  (  ) ( ___/ __)
 )(_) _)(_ )___/)(_)( )(__ )__)\__ \
(____(____(__) (_____(____(____(___/

NAME = DIP01;
POSITION = 6.226873613;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13256;
FIELD_INTEGRAL_COEFFICIENTS = -1.10355E-09, 3.40411E-07, -4.20048E-05, 2.168E-03, 1.357714, 0.696315;
MAGNETIC_LENGTH = 399.216; Defined along the nominal 45° arc
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Dipoles\Type 1";
PV_ROOT = CLA-C2V-MAG-DIP-01:;
MAG_TYPE = DIP;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.001; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 120,  -120, 80, -80, 30, -30, 10, -10, 5, -5; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???C1-
MAG_MIN_I = -130;
MAG_MAX_I = 130;

NAME = DIP02;
POSITION = 7.972725978;
MANUFACTURER = Danfysik;
SERIAL_NUMBER = 13257;
FIELD_INTEGRAL_COEFFICIENTS = -9.5201E-07, 0.000151557, 0.894506059, 0.126202232;
MAGNETIC_LENGTH = 397.752;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC-TDL\Projects\tdl-1168 CLARA\mag - magnets (WP2)\Front end\Measurements\Dipoles\Type 2";
PV_ROOT = CLA-C2V-MAG-DIP-02:;
MAG_TYPE = DIP;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.001; ???
NUM_DEGAUSS_STEPS = 11; ???
DEGAUSS_VALUES  = 120,  -120, 80, -80, 30, -30, 10, -10, 5, -5; ???
DEGAUSS_TOLERANCE  = 0.1; ???
MAG_SET_MAX_WAIT_TIME = 45; ???
MAG_MIN_I = -200;
MAG_MAX_I = 200;
MAGNET_BRANCH = DIP01;

END_OF_DATA;
