RF LINAC-01 LLRF CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;  These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored. ther are nnone for this object

PV_SUFFIX_AMP_MVM = EBT-INJ-DIA-DUMMY-01:DDOUBLE6;   Amplitude in MVM (will be different for the HRRG and LRRG)
PV_CHTYPE        = DBR_DOUBLE;
PV_COUNT         = 1;
PV_MASK          = DBE_VALUE;

PV_SUFFIX_PHI_DEG  = EBT-INJ-DIA-DUMMY-01:DDOUBLE7;  Phase in Degrees (will be different for the HRRG and LRRG)
PV_CHTYPE        = DBR_DOUBLE;
PV_COUNT         = 1;
PV_MASK          = DBE_VALUE;

#pv_suffix must come first before other paramaters to be added to the struct.

PV_MONITORS_START;              These are the PVs that will be continuously monitored

PV_SUFFIX_AMPR = Aset:RD;
PV_CHTYPE      = DBR_LONG;
PV_COUNT       = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_PHI = Phi:WR;
PV_CHTYPE     = DBR_LONG;
PV_COUNT      = 1;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_AMPW = Aset:WR;
PV_CHTYPE      = DBR_LONG;
PV_COUNT       = 1;
PV_MASK        = DBE_VALUE;



OBJECTS_START;

NUMBER_OF_OBJECTS = 1;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater

NAME    = L01-LLRF;
PV_ROOT = VM-CLA-GUN:;
LLRF_MAX_AMPLITUDE = 2200; maximum amplitude that the controller can apply, for additionaly saftey this could be compiled in at source... 
LLRF_PHI_CALIBRATION = 1.01;        llrf phi to degrees 
LLRF_AMP_CALIBRATION = 0.0344637;   1/29.016 llrf amplitiude to MV/m in cavity 
LLRF_CREST_PHI = 0;                 in units of the llrf system 

END_OF_DATA;