VELA BPM CONFIG FILE v1

##########Update: Tim Price changed BPM PV prefixes on 18.04.2017###############


Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_BPM_SA1  = SA1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SA2  = SA2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SD1  = SD1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_SD2  = SD2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_MONITORS_START;          These are the PVs that will be continuously monitored

PV_SUFFIX_BPM_RA1  = RA1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RA2  = RA2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RD1  = RD1;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_RD2  = RD2;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_X    = X;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_Y    = Y;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BPM_DATA = DATA:B2V.VALA;
PV_COUNT           = 9;
PV_CHTYPE          = DBR_TIME_DOUBLE;
PV_MASK            = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 4;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater


#In the compiled code scop1 is the first one in this list,
#scop2 is the second one in the list etc.

NAME    = S01-BPM01;
PV_ROOT = CLA-S01-DIA-BPM-01:;
ATT1CAL = 10;
ATT2CAL = 11;
V1CAL 	= 0.9398;
V2CAL	= 0.9678;
QCAL 	= 68;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 0.9377;

NAME    = S02-BPM01;
PV_ROOT = CLA-S02-DIA-BPM-01:;
ATT1CAL = 8;
ATT2CAL = 8;
V1CAL 	= 0.9808;
V2CAL	= 0.9686;
QCAL 	= 68;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 3.6228;

NAME    = S02-BPM02;
PV_ROOT = CLA-S02-DIA-BPM-02:;
ATT1CAL = 9;
ATT2CAL = 9;
V1CAL 	= 0.9642;
V2CAL	= 0.9588;
QCAL 	= 68;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 11.624; Length of C2V and SP1 line (5.172m) added on to put QUAD05 after it

NAME    = C2V-BPM01;
PV_ROOT = CLA-C2V-DIA-BPM-01:;
ATT1CAL = 8;
ATT2CAL = 8;
V1CAL 	= 0.974;
V2CAL	= 0.958;
QCAL 	= 68;
MN      = 9.5;
XN      = 0;
YN      = 0;
POSITION = 6.5369;

END_OF_DATA;
