VELA/CLARA VIRTUAL CATHODE IMAGE ANALYIS CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!
capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_MONITORS_START; These are the PVs that will be continuously monitored

;## ANALYSIS Read Backs
;1
PV_IA_SUFFIX_X_RBV		= ANA:X_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;2
PV_IA_SUFFIX_Y_RBV		= ANA:Y_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;3
PV_IA_SUFFIX_SIGMA_X_RBV= ANA:SigmaX_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;4
PV_IA_SUFFIX_SIGMA_Y_RBV= ANA:SigmaY_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;5
PV_IA_SUFFIX_COV_XY_RBV = ANA:CovXY_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;6
PV_IA_SUFFIX_X_PIX_RBV	= ANA:XPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;7
PV_IA_SUFFIX_Y_PIX_RBV	= ANA:YPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;8
PV_IA_SUFFIX_SIGMA_X_PIX_RBV= ANA:SigmaXPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;9
PV_IA_SUFFIX_SIGMA_Y_PIX_RBV= ANA:SigmaYPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;10
PV_IA_SUFFIX_COV_XY_PIX_RBV	= ANA:CovXYPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;11
PV_IA_SUFFIX_SUM_PIX_INTENSITY_RBV = ANA:Intensity_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;12
PV_IA_SUFFIX_AV_PIX_INTENSITY_RBV = ANA:AvgIntensity_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;13
PV_IA_SUFFIX_PIXEL_RESULTS_RBV = ANA:PixelResults_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 5;should be 7 when controls add in all analysis results !!!
PV_MASK             	= DBE_VALUE;
; mask read backs
;14
PV_IA_SUFFIX_MASK_X_RAD_RBV = ANA:MaskXRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;15
PV_IA_SUFFIX_MASK_Y_RAD_RBV = ANA:MaskYRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;16
PV_IA_SUFFIX_MASK_X_RBV = ANA:MaskXCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;17
PV_IA_SUFFIX_MASK_Y_RBV = ANA:MaskYCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;18
PV_IA_SUFFIX_PIX_MM_RBV = ANA:PixMM_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;19
PV_IA_SUFFIX_CENTER_X_RBV = ANA:CenterX_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;20
PV_IA_SUFFIX_CENTER_Y_RBV = ANA:CenterY_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;21
PV_IA_SUFFIX_STEP_SIZE_RBV 	= ANA:StepSize_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE
; analysis states
;22
PV_IA_SUFFIX_START_IA_RBV= ANA:EnableCallbacks_RBV;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;23
PV_IA_SUFFIX_USE_B_RBV	= ANA:UseBkgrnd;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;24
PV_IA_SUFFIX_USE_NPOINT_RBV	= ANA:UseNPoint;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;acquire readbacks
;25
PV_DAQ_SUFFIX_ACQUIRE_RBV= CAM:Acquire_RBV;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;26
PV_DAQ_SUFFIX_CAPTURE_RBV	= HDF:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;27
PV_DAQ_SUFFIX_NUM_CAPTURED_RBV	= HDF:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;28
PV_DAQ_SUFFIX_NUM_CAPTURE_RBV = HDF:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;29
PV_DAQ_SUFFIX_WRITE_STATUS 	= HDF:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;30
PV_DAQ_SUFFIX_WRITE_FILE_RBV 	= HDF:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;31
PV_DAQ_SUFFIX_WRITE_MESSAGE = HDF:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;32
#################################JPEG MONITORS###################################
PV_DAQ_SUFFIX_CAPTURE_RBV_J	= MAGICK:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;33
PV_DAQ_SUFFIX_NUM_CAPTURED_J	= MAGICK:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;34
PV_DAQ_SUFFIX_NUM_CAPTURE_RBV_J = MAGICK:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;35
PV_DAQ_SUFFIX_WRITE_CHECK_J 	= MAGICK:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;36
PV_DAQ_SUFFIX_WRITE_RBV_J 	= MAGICK:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;37
PV_DAQ_SUFFIX_WRITE_MESSAGE_J = MAGICK:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;##################################DAQ 
;38
PV_DAQ_SUFFIX_EXPOSURE_RBV 	= CAM:AcquireTime_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;39
PV_DAQ_SUFFIX_ACQ_PERIOD_RBV = CAM:AcquirePeriod_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;40
PV_DAQ_SUFFIX_FREQ_RBV 		= CAM:ArrayRate_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;41
PV_DAQ_SUFFIX_SENSOR_TEMP_RBV = CAM:Temperature_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_STA = CLA-LAS-DIA-LED-01:Sta;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;


PV_COMMANDS_START;

;1  ????
;PV_IA_SUFFIX_START_ACQUIRE = CAM:Acquire;
;PV_CHTYPE      			= DBR_ENUM;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;
;2  ????
;PV_IA_SUFFIX_STOP_ACQUIRE = CAM:Acquire;
;PV_CHTYPE      			= DBR_ENUM;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;



PV_SUFFIX_DATA 	= CAM2:ArrayData;
PV_CHTYPE      			= DBR_TIME_LONG;
PV_COUNT            	= 1382400;
PV_MASK             	= DBE_VALUE;

;1
PV_IA_SUFFIX_START_IA   = ANA:EnableCallbacks;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;2
PV_IA_SUFFIX_SET_B      = ANA:NewBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;3
PV_IA_SUFFIX_USE_B      = ANA:UseBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;4
PV_IA_SUFFIX_USE_NPOINT = ANA:UseNPoint;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;5
PV_IA_SUFFIX_CENTER_X 	= ANA:CenterX;#pixel offset centre 
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;6
PV_IA_SUFFIX_CENTER_Y 	= ANA:CenterY;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;7
PV_IA_SUFFIX_PIX_MM 	= ANA:PixMM;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;8
PV_IA_SUFFIX_STEP_SIZE 	= ANA:StepSize;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;9

;10
PV_IA_SUFFIX_MASK_X = ANA:MaskXCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;11
PV_IA_SUFFIX_MASK_Y = ANA:MaskYCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;12
PV_IA_SUFFIX_MASK_X_RAD = ANA:MaskXRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;13
PV_IA_SUFFIX_MASK_Y_RAD = ANA:MaskYRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;14
PV_DAQ_SUFFIX_START_ACQUIRE= CAM:Acquire;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;15
PV_DAQ_SUFFIX_STOP_ACQUIRE   = CAM:Acquire;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;16
PV_DAQ_SUFFIX_FILE_PATH 	= HDF:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;17
PV_DAQ_SUFFIX_FILE_NAME 	= HDF:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;18
PV_DAQ_SUFFIX_CAPTURE 		= HDF:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;19
PV_DAQ_SUFFIX_FILE_NUMBER 	= HDF:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;20
PV_DAQ_SUFFIX_WRITE 		= HDF:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;21
PV_DAQ_SUFFIX_NUM_CAPTURE 	= HDF:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;22
PV_DAQ_SUFFIX_FILE_PATH_J 	= MAGICK:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;23
PV_DAQ_SUFFIX_FILE_NAME_J 	= MAGICK:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;24
PV_DAQ_SUFFIX_CAPTURE_J 	= MAGICK:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;25
PV_DAQ_SUFFIX_FILE_NUMBER_J 	= MAGICK:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;26
PV_DAQ_SUFFIX_WRITE_J 	= MAGICK:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;27
PV_DAQ_SUFFIX_NUM_CAPTURE_J = MAGICK:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_ON = CLA-LAS-DIA-LED-01:On;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_OFF = CLA-LAS-DIA-LED-01:Off;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

OBJECTS_START;

NUMBER_OF_OBJECTS = 6; For sanity checks
NUMBER_OF_ILOCKS  = 0; If the number of interlocks changes between objects, then redefine this before the "name" paramater

NAME		= VIRTUAL_CATHODE; DO NOT CHANGE THIS NAME
PV_ROOT		= CLA-VCA-DIA-CAM-01:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME				= VIRTUAL_CATHODE;
IP_ADDRESS_STREAM		= http://192.168.83.31:8080/MJPG1.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
RESULTS_COUNT = 5;
X_POS = 0;
Y_POS = 1;
X_SIGMA_POS = 2;
Y_SIGMA_POS = 3;
COV_POS = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
X_NAME = X;
Y_NAME = Y;
X_SIGMA_NAME = X_SIGMA;
Y_SIGMA_NAME = Y_SIGMA;
COV_NAME = COV;
X_MASK_DEF				= 1280; some default values, better values  are to be determined
Y_MASK_DEF				= 1080; some default values, better values  are to be determined
X_MASK_RAD_DEF			= 1240; some default values, better values  are to be determined
Y_MASK_RAD_DEF			= 1040; some default values, better values  are to be determined
X_MASK_RAD_MAX			= 300; max value of mask radius 
Y_MASK_RAD_MAX			= 300; max value of mask radius
USE_MASK_RAD_LIMITS = TRUE; shoudl use mask max values
ARRAY_DATA_NUM_PIX_X = 1280; array data passed through EPICS
ARRAY_DATA_NUM_PIX_Y = 1080; array data passed through EPICS
BINARY_NUM_PIX_X = 2560; the binary image is bigger than the array data passed through EPICS
BINARY_NUM_PIX_Y = 2160; the binary image is bigger than the array data passed through EPICS
X_PIX_SCALE_FACTOR = 2; scaling from array_data num pixels to binary image data num pixels
Y_PIX_SCALE_FACTOR = 2; 
AVG_PIXEL_VALUE_FOR_BEAM = 97.2; emprically determined value for when laser is present
X_CENTER_DEF      = 0;  where is (0,0) ? TBD
Y_CENTER_DEF      = 0;
PIX_2_MM_RATIO_DEF = 0.006; !!! from wiki 
ARRAY_DATA_X_PIX_2_MM = 0.006;
ARRAY_DATA_Y_PIX_2_MM = 0.006;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
MIN_X_PIXEL_POS = 150.0; these are used to decide if the beam is close to the edge    float  as analysis results in pixels returns float  
MAX_X_PIXEL_POS = 2400.0; these are used to decide if the beam is close to the edge
MIN_Y_PIXEL_POS = 150.0;  these are used to decide if the beam is close to the edge
MAX_Y_PIXEL_POS = 2000.0; these are used to decide if the beam is close to the edge



NAME				= S01-CAM-01;
PV_ROOT				= CLA-S01-DIA-CAM-01:;
SCREEN_NAME			= S01-SCR-01;
CAM_TYPE = CLARA_CAM;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG1.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
RESULTS_COUNT = 5;
X_POS = 0;
Y_POS = 1;
X_SIGMA_POS = 2;
Y_SIGMA_POS = 3;
COV_POS = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
X_NAME = X;
Y_NAME = Y;
X_SIGMA_NAME = X_SIGMA;
Y_SIGMA_NAME = Y_SIGMA;
COV_NAME = COV;
X_MASK_DEF				= 1280;
Y_MASK_DEF				= 1080;
X_MASK_RAD_DEF			= 1240;
Y_MASK_RAD_DEF			= 1040;
ARRAY_DATA_NUM_PIX_X = 1280;
ARRAY_DATA_NUM_PIX_Y = 1080;
X_CENTER_DEF      = 0;
Y_CENTER_DEF      = 0;
PIX_2_MM_RATIO_DEF = 0.0134;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
BINARY_NUM_PIX_Y = 2560;
BINARY_NUM_PIX_X = 2160;



NAME					= S02-CAM-01;
PV_ROOT				= CLA-S02-DIA-CAM-01:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME			= S02-SCR-01;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG2.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
RESULTS_COUNT = 5;
X_POS = 0;
Y_POS = 1;
X_SIGMA_POS = 2;
Y_SIGMA_POS = 3;
COV_POS = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
X_NAME = X;
Y_NAME = Y;
X_SIGMA_NAME = X_SIGMA;
Y_SIGMA_NAME = Y_SIGMA;
COV_NAME = COV;
X_MASK_DEF				= 1280;
Y_MASK_DEF				= 1080;
X_MASK_RAD_DEF			= 1240;
Y_MASK_RAD_DEF			= 1040;
ARRAY_DATA_NUM_PIX_X = 1080;
ARRAY_DATA_NUM_PIX_Y = 1040;
X_CENTER_DEF      = 0;
Y_CENTER_DEF      = 0;
PIX_2_MM_RATIO_DEF = 0.0207;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
BINARY_NUM_PIX_Y = 2560;
BINARY_NUM_PIX_X = 2160;


NAME					= S02-CAM-02;
PV_ROOT				= CLA-S02-DIA-CAM-02:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME			= S02-SCR-02;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG3.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
RESULTS_COUNT = 5;
X_POS = 0;
Y_POS = 1;
X_SIGMA_POS = 2;
Y_SIGMA_POS = 3;
COV_POS = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
X_NAME = X;
Y_NAME = Y;
X_SIGMA_NAME = X_SIGMA;
Y_SIGMA_NAME = Y_SIGMA;
COV_NAME = COV;
X_MASK_DEF				= 1280;
Y_MASK_DEF				= 1080;
X_MASK_RAD_DEF			= 1240;
Y_MASK_RAD_DEF			= 1040;
ARRAY_DATA_NUM_PIX_X = 1080;
ARRAY_DATA_NUM_PIX_Y = 1040;
X_CENTER_DEF      = 0;
Y_CENTER_DEF      = 0;
PIX_2_MM_RATIO_DEF = 0.0122;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
BINARY_NUM_PIX_Y = 2560;
BINARY_NUM_PIX_X = 2160;


NAME					= S02-CAM-03;
PV_ROOT				= CLA-S02-DIA-CAM-03:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME			= S02-SCR-03;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG4.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
RESULTS_COUNT = 5;
X_POS = 0;
Y_POS = 1;
X_SIGMA_POS = 2;
Y_SIGMA_POS = 3;
COV_POS = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
X_NAME = X;
Y_NAME = Y;
X_SIGMA_NAME = X_SIGMA;
Y_SIGMA_NAME = Y_SIGMA;
COV_NAME = COV;
X_MASK_DEF				= 1280;
Y_MASK_DEF				= 1080;
X_MASK_RAD_DEF			= 1240;
Y_MASK_RAD_DEF			= 1040;
; CHAGING 25 jan 2019 ARRAY_DATA_NUM_PIX_X = 1080;
ARRAY_DATA_NUM_PIX_X = 1080;
ARRAY_DATA_NUM_PIX_Y = 1240;
X_CENTER_DEF      = 0;
Y_CENTER_DEF      = 0;
PIX_2_MM_RATIO_DEF = 0.0181;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
BINARY_NUM_PIX_Y = 2560;
BINARY_NUM_PIX_X = 2160;


NAME					= C2V-CAM-01;
PV_ROOT				= CLA-C2V-DIA-CAM-01:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME			= C2V-SCR-01;
IP_ADDRESS_STREAM		= http://192.168.83.32:8080/MJPG5.mjpg;
MAX_SHOTS_NUMBER		= 600;
## these are the indices of each value in the array PixelResults_RBV
;how many results
RESULTS_COUNT = 5;
; positoin in map
X = 0;
Y = 1;
X_SIGMA = 2;
Y_SIGMA = 3;
XY_SIGMA = 4;
## these are the names of each value in the array PixelResults_RBV to be keys for a python dictionary
COV_NAME = COV;
X_MASK_DEF				= 1280;
Y_MASK_DEF				= 1080;
X_MASK_RAD_DEF			= 1240;
Y_MASK_RAD_DEF			= 1040;
ARRAY_DATA_NUM_PIX_X = 1080;
ARRAY_DATA_NUM_PIX_Y = 1040;
X_CENTER_DEF      = 0;
Y_CENTER_DEF      = 0;
; this is for the compressed image sent over network
ARRAY_DATA_X_PIX_2_MM = 0.0179;
ARRAY_DATA_Y_PIX_2_MM = 0.0179;
SENSOR_MAX_TEMP = 10.0;
SENSOR_MIN_TEMP = 5.0;
BINARY_NUM_PIX_Y = 2560;
BINARY_NUM_PIX_X = 2160;


END_OF_DATA;
