CLARA L01 MODULATOR CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

OBJECTS_START;
NUMBER_OF_OBJECTS = 1;

NUMBER_OF_ILOCKS  = 0;  Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

NAME = L01-MOD;
PV_ROOT = CLA-L01-HRF-MOD-01:;

PV_COMMANDS_START;              

PV_SUFFIX_SYSTEM_STATE_PUT = SYSMDE;
PV_CHTYPE = DBR_ENUM;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE

PV_SUFFIX_HVPS_VOLTAGE_SET = HVPS:VS:W;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE

PV_SUFFIX_HVPS_VOLTAGE_LOW_ALARM_SET = HVPS:ALM:LO:W; 
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE

PV_SUFFIX_HVPS_VOLTAGE_HI_ALARM_SET = HVPS:ALM:HI:W;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;             
PV_MASK   = DBE_VALUE
        
PV_SUFFIX_L01_RESET = RESET;
PV_CHTYPE = DBR_ENUM;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_MONITORS_START;

PV_SUFFIX_SYSTEM_STATE_READ = SYSST;
PV_CHTYPE = DBR_ENUM;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_HVPS_VOLTAGE_SET_READ = HVPS:VS:R;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE

PV_SUFFIX_HVPS_VOLTAGE_LOW_ALARM_SET_READ = HVPS:ALM:LO:R;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE

PV_SUFFIX_HVPS_VOLTAGE_HI_ALARM_SET_READ = HVPS:ALM:HI:R;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_HVPS_VOLTAGE_READ = HVPS:V ;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_HVPS_CURRENT_READ = HVPS:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_HEATER_VOLTAGE = HEAT:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_HEATER_CURRENT = HEAT:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_RESET_VOLTAGE = RESET:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_RESET_CURRENT = RESET:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ION_PUMP_VOLTAGE = ION:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ION_PUMP_CURRENT = ION:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SUPPLY_TEMP = SUP:T;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SUPPLY_PRESSURE = SUP:P;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_RETURN_TEMP = RET:T;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_RETURN_PRESSURE = RET:P;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_BODY_FLOW_RATE = BDY:FR;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_COLLECTOR_FLOW_RATE = COL:FR
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_FLOW_RATE = SOL:FR;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_TANK_FLOW_RATE = TNK:FR;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_COLLECTOR_RETURN_RATE = CR:T;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_BODY_RETURN_TEMPERATURE = BR:T;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_1_VOLTAGE = SOL:1:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_2_VOLTAGE = SOL:1:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_3_VOLTAGE = SOL:2:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_1_CURRENT = SOL:2:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_2_CURRENT = SOL:3:V;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_SOLENOID_3_CURRENT = SOL:3:I;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_L01_FAULT = FAULT;
PV_CHTYPE = DBR_ENUM;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_1 = F1DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_2 = F2DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_3 = F3DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;
 
PV_SUFFIX_ERROR_WORD_4 = F4DSTR.VALA; 
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_5 = F5DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;
  
PV_SUFFIX_ERROR_WORD_6 = F6DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_7 = F7DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_8 = F8DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_9 = F9DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_10 = F10DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_11 = F11DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_12 = F12DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_13 = F13DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_14 = F14DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;
  
PV_SUFFIX_ERROR_WORD_15 = F15DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;
  
PV_SUFFIX_ERROR_WORD_16 = F16DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_17 = F17DSTR.VALA;  
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_18 = F18DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_19 = F19DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_WORD_20 = F20DSTR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_1 = F1STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_2 = F2STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_3 = F3STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_4 = F4STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_5 = F5STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_6 = F6STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_7 = F7STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_8 = F8STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_9 = F9STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_10 = F10STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_11 = F11STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_12 = F12STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_13 = F13STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_14 = F14STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_15 = F15STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_16 = F16STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_17 = F17STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_18 = F18STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_19 = F19STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

PV_SUFFIX_ERROR_DESC_20 = F20STR.VALA;
PV_CHTYPE = DBR_STRING;
PV_COUNT  = 1;
PV_MASK   = DBE_VALUE;

END_OF_DATA;
