GUN LLRF TRACES ONE RECORD CONFIG FILE v1
this is a new method for getting traces in a single record

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;  These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored. ther are nnone for this object
#pv_suffix must come first before other paramaters to be added to the struct.#

PV_SUFFIX_LLRF_TRACES_SCAN = dod_demod_vec.SCAN;
PV_CHTYPE        = DBR_ENUM;
PV_COUNT         = 1;
PV_MASK          = DBE_VALUE;

PV_SUFFIX_LLRF_TRACES_ACQM = dod_demod_vec.ACQM;
PV_CHTYPE        = DBR_TIME_STRING;
PV_COUNT         = 1;
PV_MASK          = DBE_VALUE;


PV_MONITORS_START;              These are the PVs that will be continuously monitored

## all the traces go in this record
PV_SUFFIX_LLRF_TRACES = dod_demod_vec;
PV_CHTYPE        = DBR_TIME_DOUBLE;
PV_COUNT         = 24567;
PV_MASK          = DBE_VALUE;


; NOT reliable enough to use C++ exception "invalid stoi argument"
;PV_SUFFIX_LLRF_TRACES_EVID = dod_demod_vec.EVID;
;PV_CHTYPE        = DBR_TIME_STRING;
;PV_COUNT         = 1;
;PV_MASK          = DBE_VALUE;


OBJECTS_START;

NUMBER_OF_OBJECTS = 1;   
NUMBER_OF_ILOCKS  = 0;   

PV_ROOT = ad1:; 
NUM_TRACES  = 24
TRACE_NUM_ELEMENTS_TOTAL = 1024
TRACE_NUM_ELEMENTS_USED = 1017
TRACE_NUM_OF_START_ZEROS = 7


NAME   = KLYSTRON_FORWARD_POWER;
TRACE_NUM = 1; first trace = 0
TRACE_TYPE = POWER;

NAME   = KLYSTRON_FORWARD_PHASE;
TRACE_NUM = 2;
TRACE_TYPE = PHASE;

NAME = KLYSTRON_REVERSE_POWER;
TRACE_NUM = 4;
TRACE_TYPE = POWER;

NAME = KLYSTRON_REVERSE_PHASE;
TRACE_NUM = 5;
TRACE_TYPE = PHASE;

NAME = LRRG_CAVITY_FORWARD_POWER;
TRACE_NUM = 7;
TRACE_TYPE = POWER;

NAME = LRRG_CAVITY_FORWARD_PHASE;
TRACE_NUM = 8;
TRACE_TYPE = PHASE;

NAME = LRRG_CAVITY_REVERSE_POWER;
TRACE_NUM = 10;
TRACE_TYPE = POWER;

NAME = LRRG_CAVITY_REVERSE_PHASE;
TRACE_NUM = 11;
TRACE_TYPE = PHASE;

NAME = HRRG_CAVITY_FORWARD_POWER;
TRACE_NUM = 13;
TRACE_TYPE = POWER;

NAME = HRRG_CAVITY_FORWARD_PHASE;
TRACE_NUM = 14;
TRACE_TYPE = PHASE;

NAME = HRRG_CAVITY_PROBE_POWER;
TRACE_NUM = 16;
TRACE_TYPE = POWER;

NAME = HRRG_CAVITY_PROBE_PHASE;
TRACE_NUM = 17;
TRACE_TYPE = PHASE;

NAME = CALIBRATION_POWER;
TRACE_NUM = 19;
TRACE_TYPE = POWER;

NAME = CALIBRATION_PHASE;
TRACE_NUM = 20;
TRACE_TYPE = PHASE;

NAME = HRRG_CAVITY_REVERSE_POWER;
TRACE_NUM = 22;
TRACE_TYPE = POWER;

NAME = HRRG_CAVITY_REVERSE_PHASE;
TRACE_NUM = 23;
TRACE_TYPE = PHASE;
   
END_OF_DATA;






