VELA/CLARA PHOTO-INJECTOR LASER  CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
# a single #  indicates a comment, characters after comments are ignored
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;          

##this is how we set charge, no calibration yet!
PV_SUFFIX_PIL_HALF_WAVE_PLATE_SET = MABS;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;



;PV_SUFFIX_PIL_STABILISATION = stabilisation;
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;

;PV_SUFFIX_PIL_INTENSITY = intensity;
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE; # #

PV_MONITORS_START;              These are the PVs that will be continuously monitored

;PV_SUFFIX_PIL_STATUS = status; from the scope at the moment
;PV_COUNT     = 1;
;PV_CHTYPE    = DBR_DOUBLE;
;PV_MASK      = DBE_VALUE;
PV_SUFFIX_WCM_CHARGE = Q;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;

##this is how we set charge, no calibration yet!
PV_SUFFIX_PIL_HALF_WAVE_PLATE_READ = RPOS;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;


PV_SUFFIX_PIL_ENERGY = E;
PV_COUNT     = 1;
PV_CHTYPE    = DBR_DOUBLE;
PV_MASK      = DBE_VALUE;


OBJECTS_START;

NUMBER_OF_OBJECTS = 1;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater


NAME    = PIL;
PV_ROOT = EBT-LAS-OPT-HWP-2:ROT:;
PV_ROOT_Q = CLA-S01-DIA-WCM-01:;
PV_ROOT_E = CLA-LAS-DIA-EM-01:;


END_OF_DATA;
