VELA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_ON = On;
PV_CHTYPE    = DBR_ENUM;

PV_SUFFIX_OFF = Off;
PV_CHTYPE     = DBR_ENUM;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_STA = Sta;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_SI    = SI;    This is also a command, but that's ok
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

PV_SUFFIX_RI    = RI;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 2;

NUMBER_OF_ILOCKS  = 0;  Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = BSOL;
PV_ROOT = VM-EBT-INJ-MAG-BSOL-01:  ;
PV_PSU_ROOT = VM-EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = BSOL;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE = 0.1;

NUMBER_OF_ILOCKS  = 6;

NAME = SOL;
PV_ROOT = VM-EBT-INJ-MAG-SOL-01:;
MAG_TYPE = SOL;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.1;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0;
SOL_DEGAUSS_TOLERANCE  = 2;


END_OF_DATA;
