CAMERA CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_MONITORS_START; These are the PVs that will be continuously monitored


PV_SUFFIX_GAIN_RBV = CAM:GainRaw_RBV;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BLACK_LEVEL_RBV = CAM:BlackLevelRaw_RBV;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_LONG;
PV_MASK             = DBE_VALUE;

#
this PV is being set to the same enum as 'acquire_RBV' on the clara cams,
this may be a mistake
#
PV_DAQ_SUFFIX_ACQUIRE_RBV = CAM:CameraState;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_ENUM;
PV_MASK             = DBE_VALUE;

;## ANALYSIS Read Backs
;1
PV_IA_SUFFIX_X_RBV		= ANA:X_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;2
PV_IA_SUFFIX_Y_RBV		= ANA:Y_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;3
PV_IA_SUFFIX_SIGMA_X_RBV= ANA:SigmaX_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;4
PV_IA_SUFFIX_SIGMA_Y_RBV= ANA:SigmaY_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;5
PV_IA_SUFFIX_COV_XY_RBV = ANA:CovXY_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;6
PV_IA_SUFFIX_X_PIX_RBV	= ANA:XPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;7
PV_IA_SUFFIX_Y_PIX_RBV	= ANA:YPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;8
PV_IA_SUFFIX_SIGMA_X_PIX_RBV= ANA:SigmaXPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;9
PV_IA_SUFFIX_SIGMA_Y_PIX_RBV= ANA:SigmaYPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;10
PV_IA_SUFFIX_COV_XY_PIX_RBV	= ANA:CovXYPix_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;11
PV_IA_SUFFIX_SUM_PIX_INTENSITY_RBV = ANA:Intensity_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;12
PV_IA_SUFFIX_AV_PIX_INTENSITY_RBV = ANA:AvgIntensity_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;13
PV_IA_SUFFIX_PIXEL_RESULTS_RBV = ANA:PixelResults_RBV;
PV_CHTYPE      			= DBR_TIME_DOUBLE;
PV_COUNT            	= 5;should be 7 when controls add in all analysis results !!!
PV_MASK             	= DBE_VALUE;
; mask read backs
;14
PV_IA_SUFFIX_MASK_X_RAD_RBV = ANA:MaskXRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;15
PV_IA_SUFFIX_MASK_Y_RAD_RBV = ANA:MaskYRad_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;16
PV_IA_SUFFIX_MASK_X_RBV = ANA:MaskXCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;17
PV_IA_SUFFIX_MASK_Y_RBV = ANA:MaskYCenter_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;18
PV_IA_SUFFIX_PIX_MM_RBV = ANA:PixMM_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;19
PV_IA_SUFFIX_CENTER_X_RBV = ANA:CenterX_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;20
PV_IA_SUFFIX_CENTER_Y_RBV = ANA:CenterY_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;21
PV_IA_SUFFIX_STEP_SIZE_RBV 	= ANA:StepSize_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE
; analysis states
;22
PV_IA_SUFFIX_START_IA_RBV= ANA:EnableCallbacks_RBV;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;23
PV_IA_SUFFIX_USE_B_RBV	= ANA:UseBkgrnd;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;24
PV_IA_SUFFIX_USE_NPOINT_RBV	= ANA:UseNPoint;
PV_CHTYPE   			= DBR_ENUM;
PV_COUNT    			= 1;
PV_MASK					= DBE_VALUE;
;acquire readbacks
;25
;PV_DAQ_SUFFIX_ACQUIRE_RBV= CAM:Acquire_RBV;
;PV_CHTYPE   			= DBR_ENUM;
;PV_COUNT    			= 1;
;PV_MASK					= DBE_VALUE;
;26
PV_DAQ_SUFFIX_CAPTURE_RBV	= HDF:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;27
PV_DAQ_SUFFIX_NUM_CAPTURED_RBV	= HDF:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;28
PV_DAQ_SUFFIX_NUM_CAPTURE_RBV = HDF:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;29
PV_DAQ_SUFFIX_WRITE_STATUS 	= HDF:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;30
PV_DAQ_SUFFIX_WRITE_FILE_RBV 	= HDF:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;31
PV_DAQ_SUFFIX_WRITE_MESSAGE = HDF:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;32
#################################JPEG MONITORS###################################
PV_DAQ_SUFFIX_CAPTURE_RBV_J	= MAGICK:Capture_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;33
PV_DAQ_SUFFIX_NUM_CAPTURED_J	= MAGICK:NumCaptured_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;34
PV_DAQ_SUFFIX_NUM_CAPTURE_RBV_J = MAGICK:NumCapture_RBV;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;35
PV_DAQ_SUFFIX_WRITE_CHECK_J 	= MAGICK:WriteStatus;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;36
PV_DAQ_SUFFIX_WRITE_RBV_J 	= MAGICK:WriteFile_RBV;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;37
PV_DAQ_SUFFIX_WRITE_MESSAGE_J = MAGICK:WriteMessage;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;##################################DAQ 
;38
;PV_DAQ_SUFFIX_EXPOSURE_RBV 	= CAM:AcquireTime_RBV;
;PV_CHTYPE      			= DBR_DOUBLE;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;
;39
;PV_DAQ_SUFFIX_ACQ_PERIOD_RBV = CAM:AcquirePeriod_RBV;
;PV_CHTYPE      			= DBR_DOUBLE;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;
;40
PV_DAQ_SUFFIX_FREQ_RBV 		= CAM:ArrayRate_RBV;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;41
;PV_DAQ_SUFFIX_SENSOR_TEMP_RBV = CAM:Temperature_RBV;
;PV_CHTYPE      			= DBR_DOUBLE;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_STA = CLA-LAS-DIA-LED-01:Sta;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;


PV_COMMANDS_START;
PV_DAQ_SUFFIX_START_ACQUIRE = CAM:Start;
PV_CHTYPE       = DBR_ENUM;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_DAQ_SUFFIX_STOP_ACQUIRE = CAM:Stop;
PV_CHTYPE      = DBR_ENUM;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_GAIN = CAM:GainRaw;
PV_CHTYPE      = DBR_LONG;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_BLACK_LEVEL = CAM:BlackLevelRaw;
PV_CHTYPE       = DBR_LONG;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_DATA = CAM1:ArrayData;
PV_COUNT       = 1447680;
PV_CHTYPE      = DBR_TIME_LONG;
PV_MASK        = DBE_VALUE;



PV_SUFFIX_LED_ON = EBT-INJ-DIA-LED-01:On;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_OFF = EBT-INJ-DIA-LED-01:Off;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;




;1
PV_IA_SUFFIX_START_IA   = ANA:EnableCallbacks;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;2
PV_IA_SUFFIX_SET_B      = ANA:NewBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;3
PV_IA_SUFFIX_USE_B      = ANA:UseBkgrnd;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;4
PV_IA_SUFFIX_USE_NPOINT = ANA:UseNPoint;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;5
PV_IA_SUFFIX_CENTER_X 	= ANA:CenterX;#pixel offset centre 
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;6
PV_IA_SUFFIX_CENTER_Y 	= ANA:CenterY;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;7
PV_IA_SUFFIX_PIX_MM 	= ANA:PixMM;
PV_CHTYPE      			= DBR_DOUBLE;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;8
PV_IA_SUFFIX_STEP_SIZE 	= ANA:StepSize;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;9

;10
PV_IA_SUFFIX_MASK_X = ANA:MaskXCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;11
PV_IA_SUFFIX_MASK_Y = ANA:MaskYCenter;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;12
PV_IA_SUFFIX_MASK_X_RAD = ANA:MaskXRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;13
PV_IA_SUFFIX_MASK_Y_RAD = ANA:MaskYRad;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;14
;PV_DAQ_SUFFIX_START_ACQUIRE= CAM:Acquire;
;PV_CHTYPE      			= DBR_ENUM;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;
;15
;PV_DAQ_SUFFIX_STOP_ACQUIRE   = CAM:Acquire;
;PV_CHTYPE      			= DBR_ENUM;
;PV_COUNT            	= 1;
;PV_MASK             	= DBE_VALUE;
;16
PV_DAQ_SUFFIX_FILE_PATH 	= HDF:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;17
PV_DAQ_SUFFIX_FILE_NAME 	= HDF:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;18
PV_DAQ_SUFFIX_CAPTURE 		= HDF:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;19
PV_DAQ_SUFFIX_FILE_NUMBER 	= HDF:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;20
PV_DAQ_SUFFIX_WRITE 		= HDF:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;21
PV_DAQ_SUFFIX_NUM_CAPTURE 	= HDF:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;22
PV_DAQ_SUFFIX_FILE_PATH_J 	= MAGICK:FilePath;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;23
PV_DAQ_SUFFIX_FILE_NAME_J 	= MAGICK:FileName;
PV_CHTYPE      			= DBR_CHAR;
PV_COUNT            	= 256;
PV_MASK             	= DBE_VALUE;
;24
PV_DAQ_SUFFIX_CAPTURE_J 	= MAGICK:Capture;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;25
PV_DAQ_SUFFIX_FILE_NUMBER_J 	= MAGICK:FileNumber;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;26
PV_DAQ_SUFFIX_WRITE_J 	= MAGICK:WriteFile;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
;27
PV_DAQ_SUFFIX_NUM_CAPTURE_J = MAGICK:NumCapture;
PV_CHTYPE      			= DBR_LONG;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_ON = CLA-LAS-DIA-LED-01:On;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_OFF = CLA-LAS-DIA-LED-01:Off;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;


OBJECTS_START;

NUMBER_OF_OBJECTS = 3; For sanity checks
NUMBER_OF_ILOCKS  = 0;  If the number of interlocks changes between objects, then redefine this before the "name" paramater


NAME    = CAM02;
PV_ROOT = EBT-INJ-DIA-CAM-02:;
CAM_TYPE = CLARA_CAM;
SCREEN_NAME  = INJ-SCR-01;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;


NAME    = CAM12;
PV_ROOT = EBT-INJ-DIA-CAM-12:;
SCREEN_NAME = BA1-SCR-01;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;

NAME    = CAM13;
PV_ROOT = EBT-INJ-DIA-CAM-13:;
SCREEN_NAME  = BA1-SCR-02;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;

NAME    = CAM14;
PV_ROOT = EBT-INJ-DIA-CAM-14:;
SCREEN_NAME  = BA1-SCR-03;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;


NAME    = CAM17;
PV_ROOT = EBT-INJ-DIA-CAM-17:;
SCREEN_NAME  = BA1-COFF-01;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;

NAME    = CAM18;
PV_ROOT = EBT-INJ-DIA-CAM-18:;
SCREEN_NAME  = BA1-COFF-02;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;

NAME    = CAM19;
PV_ROOT = EBT-INJ-DIA-CAM-19:;
SCREEN_NAME  = BA1-COFF-03;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;

NAME    = CAM20;
PV_ROOT = EBT-INJ-DIA-CAM-20:;
SCREEN_NAME  = BA1-COFF-04;
CAM_TYPE = CLARA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;
MAX_SHOTS_NUMBER		= 600;


END_OF_DATA;


other cameras not yet fully tested in new hybrid scheme

NAME    = CAM03;
PV_ROOT = EBT-INJ-DIA-CAM-03:;
CAM_TYPE = VELA_CLARA_HYBRID;
SCREEN_NAME  = INJ-SCR-02;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



NAME    = CAM04;
PV_ROOT = EBT-INJ-DIA-CAM-04:;
CAM_TYPE = VELA_CLARA_HYBRID;
SCREEN_NAME  = INJ-SCR-03;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM05;
PV_ROOT = EBT-INJ-DIA-CAM-05:;
SCREEN_NAME  = INJ-SCR-04;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM06;
PV_ROOT = EBT-INJ-DIA-CAM-06:;
SCREEN_NAME  = INJ-SCR-05;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM07;
PV_ROOT = EBT-INJ-DIA-CAM-07:;
SCREEN_NAME  = INJ-SCR-06;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM08;
PV_ROOT = EBT-INJ-DIA-CAM-08:;
SCREEN_NAME  = INJ-SCR-07;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM09;
PV_ROOT = EBT-INJ-DIA-CAM-09:;
SCREEN_NAME  = ELECTRON_DIFFRACTION;
CAM_TYPE = VELA_CLARA_HYBRID;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM10;
PV_ROOT = EBT-INJ-DIA-CAM-10:;
SCREEN_NAME  = INJ-SCR-08;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



NAME    = CAM11;
PV_ROOT = EBT-INJ-DIA-CAM-11:;
SCREEN_NAME  = INJ-SCR-09;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM15;
PV_ROOT = EBT-INJ-DIA-CAM-15:;
SCREEN_NAME  = BA2-SCR-01;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM16;
PV_ROOT = EBT-INJ-DIA-CAM-16:;
SCREEN_NAME  = INJ-SCR-10;
CAM_TYPE = VELA_CLARA_HYBRID;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;




END_OF_DATA;
