VELA SCOPE CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

PV_MONITORS_START;          These are the PVs that will be continuously monitored

PV_SUFFIX_P1  = P1;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;
DIAG_TYPE     = WCM;

PV_SUFFIX_P2  = P2;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;
DIAG_TYPE     = ICT1;

PV_SUFFIX_P3  = P3;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;
DIAG_TYPE     = ED_FCUP;

PV_SUFFIX_P4  = P4;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;
DIAG_TYPE     = ICT2;

OBJECTS_START;
NUMBER_OF_OBJECTS = 1;      For sanity checks
NUMBER_OF_ILOCKS  = 0;      If the number of interlocks changes between objects, then redefine this before the "name" paramater


#In the compiled code scop1 is the first one in this list,
#scop2 is the second one in the list etc.

NAME    = SCOP01;
PV_ROOT = EBT-INJ-SCOPE-01;
PV_SCOPE_TYPE = NUM;

END_OF_DATA;
