VELA INJECTION SCREENS CONFIG FILE

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;     #These are PVs that are needed to send commands, i.e switch thigs on / off, they are not monitored

#pv_suffix must come first before other parameters to be added to the struct.

PV_SUFFIX_ON = On;
PV_CHTYPE = DBR_ENUM;

PV_SUFFIX_OFF = Off;
PV_CHTYPE = DBR_ENUM;


PV_MONITORS_START;		#These are the PVs that will be continuously monitored

PV_SUFFIX_STA = Sta;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

OBJECTS_START;

NUMBER_OF_OBJECTS = 6; 	#For sanity checks
NUMBER_OF_ILOCKS = 2;		#If the number of interlocks changes between objects, then redefine this before the "name" parameter

#name must come first before other factors

#NOTE added a colon to the end of all PV_ROOT's, this is different to the first version of the screens project,
#however it solved the problem of the program not subscribing to the chids in the new version.


NAME = YAG-04;
PV_ROOT = VM-EBT-INJ-DIA-YAG-04:;
IN = 1.0;
OUT = 0.0;

NAME = YAG-05;
PV_ROOT = VM-EBT-INJ-DIA-YAG-05:;
IN = 1.0;
OUT = 0.0;

NAME = YAG-06;
PV_ROOT = VM-EBT-INJ-DIA-YAG-06:;
IN = 1.0;
OUT = 0.0;

NAME = YAG-07;
PV_ROOT = VM-EBT-INJ-DIA-YAG-07:;
IN = 1.0;
OUT = 0.0;

NAME = YAG-08;
PV_ROOT = VM-EBT-INJ-DIA-YAG-08:;
IN = 1.0;
OUT = 0.0;

NAME = YAG-09;
PV_ROOT = VM-EBT-INJ-DIA-YAG-09:;
IN = 1.0;
OUT = 0.0;


END_OF_DATA;
