VELA INJECTOR VARIABLE SCREENS CONFIG FILE

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;     #These are PVs that are needed to send commands, i.e switch thigs on / off, they are not monitored

PV_SUFFIX_H_SDEV = H:SDEV; #pv_suffix must come first before other parameters to be added to the struct.
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_H_TRIGGER = H:TRIGGER;
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_H_EX = H:EX;
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_H_TGTPOS = H:TGTPOS;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_H_JOG = H:JOG;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_H_JDIFF = H:JDIFF;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_SDEV = V:SDEV; #pv_suffix must come first before other parameters to be added to the struct.
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_TRIGGER = V:TRIGGER;
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_EX = V:EX;
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_TGTPOS = V:TGTPOS;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_JOG = V:JOG;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_V_JDIFF = V:JDIFF;
PV_COUNT = 1;
PV_CHTYPE = DBR_DOUBLE;
PV_MASK = DBE_VALUE;

PV_SUFFIX_SDEV = SDEV; #pv_suffix must come first before other parameters to be added to the struct.
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_SUFFIX_TRIGGER = TRIGGER;
PV_COUNT = 1;
PV_CHTYPE = DBR_ENUM;
PV_MASK = DBE_VALUE;

PV_MONITORS_START;		#These are the PVs that will be continuously monitored

PV_SUFFIX_H_MOVING = H:MOVING;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_READY = H:READY;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_GET_DEV = H:GET_DEV;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_DEV_STATE = H:DEV_STATE;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_MAX_POS = H:MAX_POS;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_DEV_CENT = H:DEV_CENT;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_H_ACTPOS = H:ACTPOS;
PV_COUNT = 1
PV_CHTYPE = DBR_DOUBLE
PV_MASK = DBE_VALUE

PV_SUFFIX_H_EN = H:EN;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_MOVING = V:MOVING;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_READY = V:READY;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_GET_DEV = V:GET_DEV;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_DEV_STATE = V:DEV_STATE;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_MAX_POS = V:MAX_POS;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_V_DEV_CENT = V:DEV_CENT;
PV_COUNT = 1
PV_CHTYPE = DBR_DOUBLE
PV_MASK = DBE_VALUE

PV_SUFFIX_V_ACTPOS = V:ACTPOS;
PV_COUNT = 1
PV_CHTYPE = DBR_DOUBLE
PV_MASK = DBE_VALUE

PV_SUFFIX_V_EN = V:EN;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_MOVING = MOVING;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_READY = READY;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_GET_DEV = GET_DEV;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_DEV_STATE = DEV_STATE;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_MAX_POS = MAX_POS;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_DEV_CENT = DEV_CENT;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

PV_SUFFIX_ACTPOS = ACTPOS;
PV_COUNT = 1
PV_CHTYPE = DBR_DOUBLE
PV_MASK = DBE_VALUE

PV_SUFFIX_EN = EN;
PV_COUNT = 1
PV_CHTYPE = DBR_ENUM
PV_MASK = DBE_VALUE

OBJECTS_START;

NUMBER_OF_OBJECTS = 8; 	#For sanity checks
NUMBER_OF_ILOCKS = 0;		#If the number of interlocks changes between objects, then redefine this before the "name" parameter

##name must come first before other factors

#NOTE added a colon to the end of all PV_ROOT's, this is different to the first version of the screens project,
#however it solved the problem of the program not subscribing to the chids in the new version.

NAME = VELA-SCR-01;
PV_ROOT = VM-EBT-INJ-DIA-SCR-01:;
SCREEN_TYPE = VELA_HV_MOVER;
V_RETRACTED = 0;
V_RETRACTED_POS = 0;
H_RETRACTED = 0;
H_RETRACTED_POS = 0;
V_SLIT_1 = 7;
V_SLIT_1_POS = 54.6
V_GRAT = 5;
V_GRAT_POS = 105;
V_YAG = 4;
V_YAG_POS = 143;
V_RF = 2;
V_RF_POS = 193.2;
H_SLIT_1 = 7;
H_SLIT_1_POS = 72.32;
H_SLIT_2 = 8;
H_SLIT_2_POS = 97.34;
H_SLIT_3 = 9;
H_SLIT_3_POS = 122.6;
H_APT_1 = 10;
H_APT_1_POS = 147.3;
H_APT_2 = 11;
H_APT_2_POS = 172.3;
H_APT_3 = 12;
H_APT_3_POS = 197.3;

NAME = VELA-SCR-02;
PV_ROOT = VM-EBT-INJ-DIA-SCR-02:;
SCREEN_TYPE = CLARA_HV_MOVER;
V_RETRACTED = 0;
V_RETRACTED_POS = 0;
H_RETRACTED = 0;
H_RETRACTED_POS = 0;
V_SLIT_1 = 7;
V_SLIT_1_POS = 60.0
V_YAG = 4;
V_YAG_POS = 148.5;
V_RF = 2;
V_RF_POS = 196.0;
H_SLIT_1 = 7;
H_SLIT_1_POS = 46.2;

NAME = VELA-SCR-03;
PV_ROOT = VM-EBT-INJ-DIA-SCR-03:;
SCREEN_TYPE = CLARA_HV_MOVER;
V_RETRACTED = 0;
V_RETRACTED_POS = 0;
H_RETRACTED = 0;
H_RETRACTED_POS = 0;
V_YAG = 4;
V_YAG_POS = 148.5;
V_RF = 2;
V_RF_POS = 196.0;
H_SLIT_1 = 7;
H_SLIT_1_POS = 46.2;

NAME = VELA-SCR-04;
PV_ROOT = VM-EBT-INJ-DIA-SCR-04:;
SCREEN_TYPE = VELA_PNEUMATIC;
RETRACTED = 0;
RETRACTED_POS = 0;
YAG = 4;
YAG_POS = 148.5;

NAME = VELA-SCR-05;
PV_ROOT = VM-EBT-INJ-DIA-SCR-05:;
SCREEN_TYPE = VELA_PNEUMATIC;
RETRACTED = 0;
RETRACTED_POS = 0;
YAG = 4;
YAG_POS = 148.5;

NAME = VELA-SCR-06;
PV_ROOT = VM-EBT-INJ-DIA-SCR-06:;
SCREEN_TYPE = VELA_PNEUMATIC;
RETRACTED = 0;
RETRACTED_POS = 0;
YAG = 4;
YAG_POS = 148.5;

NAME = VELA-SCR-07;
PV_ROOT = VM-EBT-INJ-DIA-SCR-07:;
SCREEN_TYPE = VELA_PNEUMATIC;
RETRACTED = 0;
RETRACTED_POS = 0;
YAG = 4;
YAG_POS = 148.5;

NAME = VELA-SCR-08;
PV_ROOT = VM-EBT-INJ-DIA-SCR-08:;
SCREEN_TYPE = VELA_PNEUMATIC;
RETRACTED = 0;
RETRACTED_POS = 0;
YAG = 4;
YAG_POS = 148.5;

END_OF_DATA;
