VELA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

please write floating point numbers with at least 1 decimal point, i.e. 4.0 not 4

23/6/2017 This is now the new-scheme implemented by Rory, si is now seti, ri is now readi, ilck are different  

BJAS 13/12/16: I'm populating this from PHW's v10 schematic.
Values with ??? after them may be wrong, or need modification.

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_SPOWER = SPOWER; clara stuff that may change if they decide to do a consistent naming scheme 
PV_CHTYPE  = DBR_ENUM;
PV_COUNT   = 1;
PV_MASK     = DBE_VALUE;

PV_SUFFIX_SETI = SETI; clara stuff that may change if they decide to do a consistent naming scheme 
PV_CHTYPE  = DBR_DOUBLE;
PV_COUNT   = 1;
PV_MASK    = DBE_VALUE;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_RPOWER = RPOWER;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_READI = READI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_GETSETI = GETSETI;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_DOUBLE;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_RILK = RILK;
PV_COUNT       = 1;
PV_CHTYPE      = DBR_ENUM;
PV_MASK        = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 17;

NUMBER_OF_ILOCKS  = 0;  (in the old scheme: Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" parameter")
						in the new scheme each magnet has a single RILK, provided by controls)
 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = BSOL;
POSITION = 0.000; longitudinal position along the lattice (in metres) - used to define magnet order
MANUFACTURER = Danfysik;

;As with the SOL, these FICs work a little differently. The field at the cathode is calculated using
;B_cath = coeff_a . [y, y², y³, x, xy, xy², x², x²y, x²y², x²y³, x³, x³y]
;where x is the BC current and y is the solenoid current
;coeff_a are the first 12 coefficients, the rest are coeff_b which translates current into integrated field.
;                            (coeff_a ......................................................................................................................................................) (coeff_b...................................)
FIELD_INTEGRAL_COEFFICIENTS = 0.000449207, -1.07199E-07, 1.31132E-10, -0.029521811, -4.34196E-06, 1.8541E-08, 0.001654436, -1.89555E-06, -7.20952E-10, -1.51066E-12, -2.68258E-05, 1.648E-07,  -3.46288e-4, 0.021356715, -0.38108999, 0.0;
MAGNETIC_LENGTH = 12.91;
PV_ROOT = EBT-INJ-MAG-BSOL-01:  ;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = BSOL;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE = 0.1;
MAG_MAX_I = 7.0;
MAG_MIN_I = -7.0;
MAG_SET_MAX_WAIT_TIME = 45;


;old value NUMBER_OF_ILOCKS  = 6; djs 23/6/2017
NUMBER_OF_ILOCKS  = 0;


NAME = SOL;
MANUFACTURER = SEF;
SERIAL_NUMBER = 02;
POSITION = 0.197;

;The field integral coefficients work a little differently here. The Larmor angle is calculated using
;theta_L = coeff_a * I . [1, p, p**2, p**3, p**4] where p is the momentum and I is the solenoid current
;These coefficients have been calculated using the rf_sol_tracking code and the calc-larmor-angle-coeffs.py script.
;coeff_a are the first 5 coefficients, the rest are coeff_b which translates current into integrated field.
;                            (coeff_a ............................................................) (coeff_b ...................................)
FIELD_INTEGRAL_COEFFICIENTS = 2.13556165, -0.843299065, 0.168958882, -0.0167710091, 6.56775844e-04,  -3.53922E-08, 1.53138E-05, 0.167819191, 0.0;
;old values: FIELD_INTEGRAL_COEFFICIENTS = 104.285048, -43.2881185, 0.924829558, -0.0890716383, 4.26526273,  -3.53922E-08, 1.53138E-05, 0.167819191, 0.0;
MAGNETIC_LENGTH = 139.50;
PV_ROOT = EBT-INJ-MAG-SOL-01:;
MAG_TYPE = SOL;
RI_TOLERANCE = 0.1;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0;
DEGAUSS_TOLERANCE  = 2;
MAG_MAX_I = 250.0;
MAG_MIN_I = -250.0;
MAG_SET_MAX_WAIT_TIME = 45;
MAGNET_BRANCH = BSOL; This is used to signify that the SOL & BSOL are linked

 _   _ ___ _____ ____
( )_( / __(  _  (  _ \
 ) _ ( (__ )(_)( )   /
(_) (_\___(_____(_)\_)

NUMBER_OF_ILOCKS  = 8;

NAME = HCOR01;
POSITION = 0.394;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0002;

Polynomal expansion of field integral vs current where field_integral = a0*current^3 + a1*current^2 + a2*current + a3
FIELD_INTEGRAL_COEFFICIENTS = 0.0989613526570049,0.0;
MAGNETIC_LENGTH = 176.594827586207;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR02;
POSITION = 1.042;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0006;
FIELD_INTEGRAL_COEFFICIENTS =  0.101352657004831,0.0;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR03;
POSITION = 2.310;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0010;
FIELD_INTEGRAL_COEFFICIENTS = 0.101352657004831, 0.0;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR04;
POSITION = 3.183;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0003;
FIELD_INTEGRAL_COEFFICIENTS = 0.101763285024155, 0.0;
MAGNETIC_LENGTH = 181.987041036717;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-04:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR05;
POSITION = 4.648;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.103007246376812, 0.0;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS = 0.102617753623188, 0.0;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.015;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS = 0.103037439613527, 0.0;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS = 0.107276570048309, 0.0;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS = 0.108559782608696, 0.0;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR10;
POSITION = 16.732;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0009;
MAGNETIC_LENGTH = 182.966531440162;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
FIELD_INTEGRAL_COEFFICIENTS = 0.109960366, 0.0;
MAG_TYPE = HCOR;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR11;
POSITION = 18.958;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0007;
FIELD_INTEGRAL_COEFFICIENTS = 0.109396135, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;
 _  _ ___ _____ ____
( \/ / __(  _  (  _ \
 \  ( (__ )(_)( )   /
  \/ \___(_____(_)\_)

NAME = VCOR01;
POSITION = 0.394;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0002;
FIELD_INTEGRAL_COEFFICIENTS = 0.0989613526570049, 0.0;
MAGNETIC_LENGTH = 176.594827586207;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR02;
POSITION = 1.042;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0006;
FIELD_INTEGRAL_COEFFICIENTS = 0.101352657004831, 0.0;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR03;
POSITION = 2.310;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0010;
FIELD_INTEGRAL_COEFFICIENTS = 0.101352657004831, 0.0;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR04;
POSITION = 3.183;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0003;
FIELD_INTEGRAL_COEFFICIENTS = 0.101763285024155, 0.0;
MAGNETIC_LENGTH = 181.987041036717;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-04:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR05;
POSITION = 4.648;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.103007246376812, 0.0;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS =  0.102617753623188, 0.0;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS =  0.103037439613527, 0.0;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS =  0.107276570048309, 0.0;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS =  0.108559782608696, 0.0;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR10;
POSITION = 16.732;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0009;
FIELD_INTEGRAL_COEFFICIENTS =  0.108940217, 0.0;
MAGNETIC_LENGTH = 182.9665314;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR11;
POSITION = 18.958;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0007;
FIELD_INTEGRAL_COEFFICIENTS =  0.109396135, 0.0;
MAGNETIC_LENGTH = 182.2535211;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 5.0;
MAG_MIN_I = -5.0;
MAG_SET_MAX_WAIT_TIME = 45;
 _____ __  __   __   ____  ___
(  _  (  )(  ) /__\ (  _ \/ __)
 )(_)( )(__)( /(__)\ )(_) \__ \
(___/\(______(__)(__(____/(___/

NUMBER_OF_ILOCKS  = 6;

NAME = QUAD01;
POSITION = 1.352;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M08;
FIELD_INTEGRAL_COEFFICIENTS = -3.04115792675565E-05, 0.000408686482135776, 0.103241242070669, 0.00125577133254764;
MAGNETIC_LENGTH = 125.368867474869;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-01:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD02;
POSITION = 1.493;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M04;
FIELD_INTEGRAL_COEFFICIENTS = -2.41987944118493E-05, 0.000313311377264068, 0.103496259204809, 0.000993229345279812;
MAGNETIC_LENGTH = 125.145131747801;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-02:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD03;
POSITION = 1.662;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M07;
FIELD_INTEGRAL_COEFFICIENTS = -3.42110684486398E-05, 0.000456192955935329, 0.10312655249584, 0.00113654928965265;
MAGNETIC_LENGTH = 125.337920371927;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-03:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD04;
POSITION = 1.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M09;
FIELD_INTEGRAL_COEFFICIENTS = -2.90597004390234E-05, 0.000383461236009496, 0.103347527900997, 0.00116335086609974;
MAGNETIC_LENGTH = 125.244281671835;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-04:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD05;
POSITION = 4.845;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M05;
FIELD_INTEGRAL_COEFFICIENTS = -2.28625597225573E-05, 0.000310696398249702, 0.103519837397042, 0.00104459623600727;
MAGNETIC_LENGTH = 125.223958037202;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-05:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD06;
POSITION = 5.099;
MAGNET_BRANCH = DIP01;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M02;
FIELD_INTEGRAL_COEFFICIENTS = -3.77887463072432E-05, 0.000518011967842953, 0.102826208113528, 0.00197957472695541;
MAGNETIC_LENGTH = 125.033079276906;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-06:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

/// Back to unganged

NAME = QUAD07;
POSITION = 7.380;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M03;
FIELD_INTEGRAL_COEFFICIENTS = -1.51802828278694E-05, 0.000208236492203741, 0.102224127676636, 0.00205656183129602;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-07:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD08;
POSITION = 7.577;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M01;
FIELD_INTEGRAL_COEFFICIENTS = -3.06357099595939E-05, 0.000442533546326552, 0.101577009522434, 0.00146589509380893;
MAGNETIC_LENGTH = 125.27558356645;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-08:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD09;
POSITION = 9.972;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM06;
FIELD_INTEGRAL_COEFFICIENTS = 0.111939163037871, -0.00132252769474545;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-09:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD10;
POSITION = 12.676;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM05;
FIELD_INTEGRAL_COEFFICIENTS = 0.111966157109812, -0.00170732356716569;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-10:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD11;
POSITION = 14.901;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM02;
FIELD_INTEGRAL_COEFFICIENTS = 0.112072763436341, -0.00182025848896622;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-11:;
MAG_TYPE = QUAD;
NUM_ILOCKS = 6;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD12;
POSITION = 17.042;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM04;
FIELD_INTEGRAL_COEFFICIENTS = 1.58996386665694, 6.76912235527686E-05;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-12:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD13;
POSITION = 19.155;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M06;
FIELD_INTEGRAL_COEFFICIENTS = -2.87186700627592E-05, 0.000391071197622624, 0.103186587329201, 0.00109631338038853;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-13:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD14;
POSITION = 19.634;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM05;
FIELD_INTEGRAL_COEFFICIENTS = 1.59235070995081, -0.022877181714572;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-14:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD15;
POSITION = 23.493;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM08;
FIELD_INTEGRAL_COEFFICIENTS = 0.111954754, -0.001381788;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-15:;
MAG_TYPE = QUAD;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

 ____ ____ ____ _____ __   ____ ___
(  _ (_  _(  _ (  _  (  ) ( ___/ __)
 )(_) _)(_ )___/)(_)( )(__ )__)\__ \
(____(____(__) (_____(____(____(___/

NAME = DIP01;
POSITION = 3.944;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM02;
FIELD_INTEGRAL_COEFFICIENTS = -0.001052242, 0.021129402, 7.92076905, 0.072610365;
MAGNETIC_LENGTH = 414.229; For dipoles, the magnetic length is defined along the nominal arc length.
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-01:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

/// These are  ganged // (were?? not sure till we can switch them back on again) djs 23/6/2017

;old value NUMBER_OF_ILOCKS  = 8; djs 23/6/2017 
NUMBER_OF_ILOCKS  = 0;

NAME = DIP02;
POSITION = 16.169;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM01;
FIELD_INTEGRAL_COEFFICIENTS = -0.00038343, 0.002868828, 8.075456266, -0.299379231;
MAGNETIC_LENGTH = 413.824;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-02:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

;old value NUMBER_OF_ILOCKS  = 6; djs 23/6/2017 
NUMBER_OF_ILOCKS  = 0;

NAME = DIP03;
POSITION = 17.859;
MAGNET_BRANCH = DIP02;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM03;
FIELD_INTEGRAL_COEFFICIENTS = -0.002065291, 0.037340159, 7.863201936, 0.211661623;
MAGNETIC_LENGTH = 414.409;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-03:;
MAG_TYPE = DIP;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_MAX_I = 10.0;
MAG_MIN_I = -10.0;
MAG_SET_MAX_WAIT_TIME = 45;

END_OF_DATA;
