CAMERA CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START; PVs that are needed to send commands, i.e. switch things on / off, They are not monitored.
#
this PV is being set to the same enum as 'acquire' on the clara cams,
this may be a mistake
#
PV_DAQ_SUFFIX_START_ACQUIRE = CAM:Start;
PV_CHTYPE       = DBR_ENUM;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_DAQ_SUFFIX_STOP_ACQUIRE = CAM:Stop;
PV_CHTYPE      = DBR_ENUM;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_GAIN = CAM:GainRaw;
PV_CHTYPE      = DBR_LONG;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_BLACK_LEVEL = CAM:BlackLevelRaw;
PV_CHTYPE       = DBR_LONG;
PV_COUNT        = 1;
PV_MASK        = DBE_VALUE;

PV_SUFFIX_DATA = CAM1:ArrayData;
PV_COUNT       = 1447680;
PV_CHTYPE      = DBR_TIME_LONG;
PV_MASK        = DBE_VALUE;



PV_SUFFIX_LED_ON = EBT-INJ-DIA-LED-01:On;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_SUFFIX_LED_OFF = EBT-INJ-DIA-LED-01:Off;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;

PV_MONITORS_START;  These are the PVs that will be continuously monitored ! ( so NOT camera data )

PV_SUFFIX_GAIN_RBV = CAM:GainRaw_RBV;
PV_COUNT           = 1;
PV_CHTYPE          = DBR_LONG;
PV_MASK            = DBE_VALUE;

PV_SUFFIX_BLACK_LEVEL_RBV = CAM:BlackLevelRaw_RBV;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_LONG;
PV_MASK             = DBE_VALUE;

#
this PV is being set to the same enum as 'acquire_RBV' on the clara cams,
this may be a mistake
#
PV_DAQ_SUFFIX_ACQUIRE_RBV = CAM:CameraState;
PV_COUNT            = 1;
PV_CHTYPE           = DBR_ENUM;
PV_MASK             = DBE_VALUE;

PV_SUFFIX_LED_STA = EBT-INJ-DIA-LED-01:Sta;
PV_CHTYPE      			= DBR_ENUM;
PV_COUNT            	= 1;
PV_MASK             	= DBE_VALUE;
PV_MASK             	= DBE_VALUE;

OBJECTS_START;

NUMBER_OF_OBJECTS = 14; For sanity checks
NUMBER_OF_ILOCKS  = 0;  If the number of interlocks changes between objects, then redefine this before the "name" paramater

NAME    = CAM01;
PV_ROOT = EBT-INJ-DIA-CAM-01:;
SCREEN_NAME  = VIRTUAL_CATHODE;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM02;
PV_ROOT = EBT-INJ-DIA-CAM-02:;
CAM_TYPE = VELA_CAM;
SCREEN_NAME  = INJ-SCR-01;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



NAME    = CAM03;
PV_ROOT = EBT-INJ-DIA-CAM-03:;
CAM_TYPE = VELA_CAM;
SCREEN_NAME  = INJ-SCR-02;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



NAME    = CAM04;
PV_ROOT = EBT-INJ-DIA-CAM-04:;
CAM_TYPE = VELA_CAM;
SCREEN_NAME  = INJ-SCR-03;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM05;
PV_ROOT = EBT-INJ-DIA-CAM-05:;
SCREEN_NAME  = INJ-SCR-04;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM06;
PV_ROOT = EBT-INJ-DIA-CAM-06:;
SCREEN_NAME  = INJ-SCR-05;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM07;
PV_ROOT = EBT-INJ-DIA-CAM-07:;
SCREEN_NAME  = INJ-SCR-06;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM08;
PV_ROOT = EBT-INJ-DIA-CAM-08:;
SCREEN_NAME  = INJ-SCR-07;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM09;
PV_ROOT = EBT-INJ-DIA-CAM-09:;
SCREEN_NAME  = ELECTRON_DIFFRACTION;
CAM_TYPE = VELA_CAM;
X0   = 0;
Y0   = 0;
XRAD = 0;
YRAD = 0;
X_PIX_2_MM = 0.0;
Y_PIX_2_MM = 0.0;



NAME    = CAM10;
PV_ROOT = EBT-INJ-DIA-CAM-10:;
SCREEN_NAME  = INJ-SCR-08;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



NAME    = CAM11;
PV_ROOT = EBT-INJ-DIA-CAM-11:;
SCREEN_NAME  = INJ-SCR-09;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM12;
PV_ROOT = EBT-INJ-DIA-CAM-12:;
SCREEN_NAME = BA1-SCR-01;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM13;
PV_ROOT = EBT-INJ-DIA-CAM-13:;
SCREEN_NAME  = BA1-SCR-02;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM14;
PV_ROOT = EBT-INJ-DIA-CAM-14:;
SCREEN_NAME  = BA1-SCR-03;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM15;
PV_ROOT = EBT-INJ-DIA-CAM-15:;
SCREEN_NAME  = BA2-SCR-01;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM16;
PV_ROOT = EBT-INJ-DIA-CAM-16:;
SCREEN_NAME  = INJ-SCR-10;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;


NAME    = CAM17;
PV_ROOT = EBT-INJ-DIA-CAM-17:;
SCREEN_NAME  = BA1-COFF-01;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM18;
PV_ROOT = EBT-INJ-DIA-CAM-18:;
SCREEN_NAME  = BA1-COFF-02;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM19;
PV_ROOT = EBT-INJ-DIA-CAM-19:;
SCREEN_NAME  = BA1-COFF-03;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;

NAME    = CAM20;
PV_ROOT = EBT-INJ-DIA-CAM-20:;
SCREEN_NAME  = BA1-COFF-04;
CAM_TYPE = VELA_CAM;
X_MASK_DEF   = 0;
Y_MASK_DEF   = 0;
X_MASK_RAD_DEF = 0;
Y_MASK_RAD_DEF = 0;
X_CENTER_DEF = 0.0;
Y_CENTER_DEF = 0.0;
ARRAY_DATA_NUM_PIX_X = 1392;
ARRAY_DATA_NUM_PIX_Y = 1040;
ARRAY_DATA_X_PIX_2_MM = 0.0;
ARRAY_DATA_Y_PIX_2_MM = 0.0;



END_OF_DATA;
