VELA INJ MAG CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped, unless within a pair of double quotes. In this case the spaces will be preserved and the double quotes omitted, for example
; indicates end of line (data entry)
on a keyword line comments can go after;

START_OF_DATA;

VERSION = 1;

PV_COMMANDS_START;              These are Pvs that are needed to send commands, i.e. switch things on / off, They are not monitored.

PV_SUFFIX_ON = On;
PV_CHTYPE    = DBR_ENUM;

PV_SUFFIX_OFF = Off;
PV_CHTYPE     = DBR_ENUM;

PV_MONITORS_START;   These are the PVs that will be continuously monitored, keep them separate from Commands, (but a command can also be monitored, i.e. SI, this should be handled in the interface)

PV_SUFFIX_STA = Sta;
PV_COUNT      = 1;
PV_CHTYPE     = DBR_ENUM;
PV_MASK       = DBE_VALUE;

PV_SUFFIX_SI    = SI;    This is also a command, but that's ok
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

PV_SUFFIX_RI    = RI;
PV_CHTYPE = DBR_DOUBLE;
PV_COUNT = 1;
PV_MASK = DBE_VALUE;

OBJECTS_START;
NUMBER_OF_OBJECTS = 42;

NUMBER_OF_ILOCKS  = 0;  Most have 6 or 8 (but not the BSOL). Redefine before the "NAME" paramater"

 ___ _____ __   ___
/ __(  _  (  ) / __)
\__ \)(_)( )(__\__ \
(___(_____(____(___/

NAME = BSOL;
POSITION = 0.000; longitudinal position along the lattice (in metres) - used to define magnet order
MANUFACTURER = Strathclyde;
PV_ROOT = EBT-INJ-MAG-BSOL-01:  ;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = BSOL;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 7.6,   -7.38,  5.0,   -5.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NUMBER_OF_ILOCKS  = 6;

NAME = SOL;
POSITION = 0.197;
FIELD_INTEGRAL_COEFFICIENTS = 0.00103087438201299,0.00120539455199735; polynomal expansion of field intgral vs current  where field_integral = a0+a1*current + a2*current^2 + a3*current^3
PV_ROOT = EBT-INJ-MAG-SOL-01:;
MAG_TYPE = SOL;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.1;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 250.0, -250.0, 150.0, -150.0, 75.0, -75.0, 30.0, -30.0, 10.0, -10.0, 0.0;
DEGAUSS_TOLERANCE  = 2;
MAG_SET_MAX_WAIT_TIME = 45;

 _   _ ___ _____ ____
( )_( / __(  _  (  _ \
 ) _ ( (__ )(_)( )   /
(_) (_\___(_____(_)\_)

NUMBER_OF_ILOCKS  = 8;

NAME = HCOR01;
POSITION = 0.394;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0002;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.0989613526570049;
MAGNETIC_LENGTH = 176.594827586207;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR02;
POSITION = 1.042;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0006;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.101352657004831;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR03;
POSITION = 2.310;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0010;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.101352657004831;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR04;
POSITION = 3.183;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0003;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.101763285024155;
MAGNETIC_LENGTH = 181.987041036717;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-04:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR05;
POSITION = 4.648;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.103007246376812;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.102617753623188;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.015;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.103037439613527;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.107276570048309;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.108559782608696;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-HCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR10;
POSITION = 16.732;
PV_ROOT = EBT-INJ-MAG-HCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.015;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = HCOR11;
POSITION = 18.958;
PV_ROOT = EBT-INJ-MAG-HCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = HCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
 _  _ ___ _____ ____
( \/ / __(  _  (  _ \
 \  ( (__ )(_)( )   /
  \/ \___(_____(_)\_)

NAME = VCOR01;
POSITION = 0.394;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0002;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.0989613526570049;
MAGNETIC_LENGTH = 176.594827586207;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-01:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR02;
POSITION = 1.042;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0006;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.101352657004831;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-02:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR03;
POSITION = 2.310;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0010;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.101352657004831;
MAGNETIC_LENGTH = 182.039045553145;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-03:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR04;
POSITION = 3.183;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0003;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.101763285024155;
MAGNETIC_LENGTH = 181.987041036717;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-04:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR05;
POSITION = 4.648;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0001;
FIELD_INTEGRAL_COEFFICIENTS = 0.0,0.103007246376812;
MAGNETIC_LENGTH = 182.24358974359;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-05:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR06;
POSITION = 7.239;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0004;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.102617753623188;
MAGNETIC_LENGTH = 182.725806451613;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-06:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR07;
POSITION = 9.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0005;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.103037439613527;
MAGNETIC_LENGTH = 183.079399141631;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-07:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR08;
POSITION = 12.141;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0011;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.107276570048309;
MAGNETIC_LENGTH = 183.522727272727;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-08:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR09;
POSITION = 15.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0008;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.108559782608696;
MAGNETIC_LENGTH = 182.327586206896;
MEASUREMENT_DATA_LOCATION = \\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Correctors\Measurements;
PV_ROOT = EBT-INJ-MAG-VCOR-09:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR10;
POSITION = 16.732;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0009;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.108940217;
MAGNETIC_LENGTH = 182.9665314;
PV_ROOT = EBT-INJ-MAG-VCOR-10:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = VCOR11;
POSITION = 18.958;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = 1279-14610-0007;
FIELD_INTEGRAL_COEFFICIENTS = 0.0, 0.109396135;
MAGNETIC_LENGTH = 182.2535211;
PV_ROOT = EBT-INJ-MAG-VCOR-11:;
PV_PSU_ROOT = EBT-INJ-MAG-HVCOR-01:;
MAG_TYPE = VCOR;
MAG_REV_TYPE = BIPOLAR;
RI_TOLERANCE = 0.01;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;
 _____ __  __   __   ____  ___
(  _  (  )(  ) /__\ (  _ \/ __)
 )(_)( )(__)( /(__)\ )(_) \__ \
(___/\(______(__)(__(____/(___/

NUMBER_OF_ILOCKS  = 6;

NAME = QUAD01;
POSITION = 1.352;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M08;
FIELD_INTEGRAL_COEFFICIENTS = 0.0025482705782263,  0.104277992372682;
MAGNETIC_LENGTH = 125.368867474869;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-01:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD02;
POSITION = 1.493;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M04;
FIELD_INTEGRAL_COEFFICIENTS =  0.00237250194124666,0.104135447175047;
MAGNETIC_LENGTH = 125.145131747801;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-02:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD03;
POSITION = 1.662;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M07;
FIELD_INTEGRAL_COEFFICIENTS = 0.00257735827842411,0.10423548260287;
MAGNETIC_LENGTH = 125.337920371927;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-03:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD04;
POSITION = 1.831;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M09;
FIELD_INTEGRAL_COEFFICIENTS = 0.00236407828336409,0.104228631153691;
MAGNETIC_LENGTH = 125.244281671835;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-04:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD05;
POSITION = 4.845;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M05;
FIELD_INTEGRAL_COEFFICIENTS = 0.00260277456365575,0.104257662272452;
MAGNETIC_LENGTH = 125.223958037202;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-05:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR_GANGED;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD06;
POSITION = 5.099;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M02;
FIELD_INTEGRAL_COEFFICIENTS = 0.00276894282540757,0.104277150901771;
MAGNETIC_LENGTH = 125.033079276906;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-06:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR_GANGED;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

/// Back to unganged

NAME = QUAD07;
POSITION = 7.380;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M03;
FIELD_INTEGRAL_COEFFICIENTS = 0.0025714442257629,0.102760380363229;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-07:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD08;
POSITION = 7.577;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M01;
FIELD_INTEGRAL_COEFFICIENTS = 0.00267552683439267,0.102891849667145;
MAGNETIC_LENGTH = 125.27558356645;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-08:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD09;
POSITION = 9.972;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM06;
FIELD_INTEGRAL_COEFFICIENTS = -0.00132252769474545,0.111939163037871;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-09:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD10;
POSITION = 12.676;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM05;
FIELD_INTEGRAL_COEFFICIENTS = -0.00170732356716569,0.111966157109812;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-10:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD11;
POSITION = 14.901;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMDQM02;
FIELD_INTEGRAL_COEFFICIENTS = -0.00182025848896622,0.112072763436341;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Diagnostic Line Magnets\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-11:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
NUM_ILOCKS = 6;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD12;
POSITION = 17.042;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM04;
FIELD_INTEGRAL_COEFFICIENTS = 6.76912235527686E-05,1.58996386665694;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-12:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD13;
POSITION = 19.155;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFQ2M06;
FIELD_INTEGRAL_COEFFICIENTS = 0.0025714442257629,0.104257662272452;
MAGNETIC_LENGTH = 125.299909233924;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-13:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD14;
POSITION = 19.634;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EMIQM05;
FIELD_INTEGRAL_COEFFICIENTS = -0.022877181714572,1.59235070995081;
MAGNETIC_LENGTH = 70.4236023746139;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\EMMA\magnets\procurement\Injection line\SCX Measurements";
PV_ROOT = EBT-INJ-MAG-QUAD-14:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NAME = QUAD15;
POSITION = 23.493;
PV_ROOT = EBT-INJ-MAG-QUAD-15:;
MAG_TYPE = QUAD;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES = 6.0,   -6.0,   4.0,   -4.0,   3.0,  -3.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

 ____ ____ ____ _____ __   ____ ___
(  _ (_  _(  _ (  _  (  ) ( ___/ __)
 )(_) _)(_ )___/)(_)( )(__ )__)\__ \
(____(____(__) (_____(____(____(___/

NAME = DIP01;
POSITION = 3.944;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM02;
FIELD_INTEGRAL_COEFFICIENTS = -0.170999156,7.843022018;
MAGNETIC_LENGTH = 402.89226;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-01:;
MAG_TYPE = DIP;
MAG_REV_TYPE = NR;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

/// These are ganged

NUMBER_OF_ILOCKS  = 8;

NAME = DIP02;
POSITION = 16.169;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM01;
FIELD_INTEGRAL_COEFFICIENTS = 0.001618162,7.815047451;
MAGNETIC_LENGTH = 403.3048322;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-02:;
MAG_TYPE = DIP;
MAG_REV_TYPE = NR_GANGED;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

NUMBER_OF_ILOCKS  = 6;

NAME = DIP03;
POSITION = 17.859;
MANUFACTURER = Scanditronix;
SERIAL_NUMBER = EBTFDIM03;
FIELD_INTEGRAL_COEFFICIENTS =  0.037292101,7.83149709;
MAGNETIC_LENGTH = 403.376654;
MEASUREMENT_DATA_LOCATION = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Magnets\Dipoles & quadrupoles\Measurements";
PV_ROOT = EBT-INJ-MAG-DIP-03:;
MAG_TYPE = DIP;
MAG_REV_TYPE = NR_GANGED;
RI_TOLERANCE = 0.001;
NUM_DEGAUSS_STEPS = 11;
DEGAUSS_VALUES  = 9.98,  -9.98,  6.0,   -6.0,   4.0,  -4.0,  2.0,  -2.0,  1.0,  -1.0,  0.0;
DEGAUSS_TOLERANCE  = 0.1;
MAG_SET_MAX_WAIT_TIME = 45;

END_OF_DATA;
